<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="main">Dashboard</a>
        </li>
      </ul>

      <div *ngIf="isAuth" class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-ligth dropdown-toggle dropdown-toggle-split"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          style="margin-top: -5px"
        >
          <span class="visually-hidden">Toggle Dropdown</span>
          <i *ngIf="isAdmin" class="bi bi-person-fill" style="color: red"></i>

          <i *ngIf="isAdmin == false" class="bi bi-person-fill"></i>

          {{ firstName }}
          {{ lastName }}
        </button>
        <ul class="dropdown-menu" style="font-size: smaller; padding: 1rem">
          <li>
            <a class="nav-link" routerLink="updatepassword">
              <i class="bi bi-arrow-down-up"></i> Change Password</a
            >
          </li>
          <li class="dropdown-divider"></li>
          <li>
            <a class="nav-link" style="cursor: pointer" (click)="exit()">
              <i class="bi bi-box-arrow-right"></i> Exit</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
