<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <p class="card-text"><b>Id: </b>{{ taxOfficeDTO.id }}</p>
    <p class="card-text"><b>cityId: </b>{{ taxOfficeDTO.cityId }}</p>
    <p class="card-text"><b>cityCode: </b>{{ taxOfficeDTO.cityCode }}</p>
    <p class="card-text"><b>cityName: </b>{{ taxOfficeDTO.cityName }}</p>
    <p class="card-text"><b>regionName: </b>{{ taxOfficeDTO.regionName }}</p>
    <p class="card-text">
      <b>taxOfficeCode: </b>{{ taxOfficeDTO.taxOfficeCode }}
    </p>
    <p class="card-text">
      <b>taxOfficeName: </b>{{ taxOfficeDTO.taxOfficeName }}
    </p>
    <p class="card-text">
      <b>createdDate: </b
      >{{ taxOfficeDTO.createdDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>updatedDate: </b
      >{{ taxOfficeDTO.updatedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>deletedDate: </b
      >{{ taxOfficeDTO.deletedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
  </div>
</div>
<div class="d-grid gap-2">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
