<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>
      <div class="mb-3" *ngIf="admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              email="true"
              [(ngModel)]="companyUserAddressModel.email"
              type="email"
              class="form-control"
              name="email"
              #email="ngModel"
              placeholder="email"
              list="emailDataList"
              (change)="setCompanyUserMail(companyUserAddressModel.email)"
            />
            <datalist id="emailDataList">
              <option
                *ngFor="let userDTO of userDTOs"
                value="{{ userDTO.email }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="emailClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!email.valid && email.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(email)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="!admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              class="form-control"
              placeholder="email"
              [(ngModel)]="companyUserAddressModel.email"
              name="email"
              #email="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Company Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAddressModel.companyUserName"
              type="text"
              class="form-control"
              name="companyUserName"
              #companyUserName="ngModel"
              placeholder="Company Name"
              list="companyUserNameDataList"
              [disabled]="!companyUserAddressModel.email"
            />
            <datalist id="companyUserNameDataList">
              <option
                *ngFor="let companyUser of companyUsers"
                value="{{ companyUser.companyUserName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="companyUserNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!companyUserName.valid && companyUserName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(companyUserName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Country Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAddressModel.countryName"
              type="text"
              class="form-control"
              name="countryName"
              #countryName="ngModel"
              placeholder="Country Name"
              (change)="getCities(companyUserAddressModel.countryName)"
              list="countryNameDataList"
              [disabled]="!companyUserAddressModel.companyUserName"
            />
            <datalist id="countryNameDataList">
              <option
                *ngFor="let country of countries"
                value="{{ country.countryName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="countryNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!countryName.valid && countryName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(countryName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">City Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAddressModel.cityName"
              type="text"
              class="form-control"
              name="cityName"
              #cityName="ngModel"
              placeholder="City Name"
              (change)="getRegions(companyUserAddressModel.cityName)"
              list="cityNameDataList"
              [disabled]="!companyUserAddressModel.countryName"
            />
            <datalist id="cityNameDataList">
              <option
                *ngFor="let city of cities"
                value="{{ city.cityName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="cityNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!cityName.valid && cityName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(cityName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Region Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAddressModel.regionName"
              type="text"
              class="form-control"
              name="regionName"
              #regionName="ngModel"
              placeholder="Region Name"
              list="regionNameDataList"
              [disabled]="!companyUserAddressModel.cityName"
            />
            <datalist id="regionNameDataList">
              <option
                *ngFor="let region of regions"
                value="{{ region.regionName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="regionNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!regionName.valid && regionName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(regionName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text"
              >Address <br />{{ addressDetailCount }} \ 50</span
            >
            <textarea
              required
              minlength="50"
              maxlength="250"
              pattern=""
              class="form-control"
              [(ngModel)]="companyUserAddressModel.addressDetail"
              name="addressDetail"
              #addressDetail="ngModel"
              style="height: 100px"
              (input)="count()"
              [disabled]="!companyUserAddressModel.regionName"
            ></textarea>
            <span class="input-group-text">
              <i
                (click)="addressClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!addressDetail.valid && addressDetail.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(addressDetail)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
