<div class="card tab-page" style="border: none">
  <div class="card-body">
    <p class="card-text"><b>Id: </b>{{ region.id }}</p>
    <p class="card-text"><b>cityId: </b>{{ region.cityId }}</p>
    <p class="card-text"><b>regionName: </b>{{ region.regionName }}</p>
    <p class="card-text">
      <b>createdDate: </b
      >{{ region.createdDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>updatedDate: </b
      >{{ region.updatedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>deletedDate: </b
      >{{ region.deletedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
  </div>
</div>
<div class="d-grid gap-2">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
