<div class="card tab-page" style="border: none">
  <div class="card-body">
    <p class="card-text"><b>Id: </b>{{ departmentDetailDTO.id }}</p>
    <p class="card-text">
      <b>description: </b>{{ departmentDetailDTO.departmentId }}
    </p>
    <p class="card-text">
      <b>description: </b>{{ departmentDetailDTO.departmentName }}
    </p>
    <p class="card-text"><b>title: </b>{{ departmentDetailDTO.title }}</p>
    <p class="card-text">
      <b>description: </b>{{ departmentDetailDTO.description }}
    </p>
    <p class="card-text">
      <b>createdDate: </b
      >{{ departmentDetailDTO.createdDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>updatedDate: </b
      >{{ departmentDetailDTO.updatedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>deletedDate: </b
      >{{ departmentDetailDTO.deletedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
  </div>
</div>
<div class="d-grid gap-2">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
