<nav
  class="navbar bg-dark navbar-expand-lg bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container-md mt-5">
    <div class="collapse navbar-collapse" id="navbarNav"></div>
  </div>
</nav>

<div class="container-md mt-5">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <img
            src="https://localhost:7088//uploads/images/common/thumbs/is_ariyorum.png"
            class="img-fluid img-thumbnail"
            style="text-align: center; border: none; cursor: pointer"
            #personelUser
            alt="İş Arıyorum"
            (click)="selectUser('personel')"
          />
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <img
            src="https://localhost:7088//uploads/images/common/thumbs/eleman_ariyorum.png"
            class="img-fluid img-thumbnail"
            style="text-align: center; border: none; cursor: pointer"
            #companyUser
            alt="Eleman Arıyorum"
            (click)="selectUser('company')"
          />
        </div>
      </div>
    </div>
    <div
      class="alert alert-warning mt-3"
      role="alert"
      style="border: 2px solid black; font-weight: bold"
    >
      Lütfen seçiminizi dikkatli yapınız. Seçiminiz geri alınamaz!
    </div>
  </div>
</div>
