<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <p class="card-text"><b>Id: </b>{{ companyUserImageDTO.id }}</p>
    <p class="card-text"><b>userId: </b>{{ companyUserImageDTO.userId }}</p>
    <p class="card-text"><b>email: </b>{{ companyUserImageDTO.email }}</p>
    <p class="card-text">
      <b>firstName: </b>{{ companyUserImageDTO.firstName }}
    </p>
    <p class="card-text"><b>lastName: </b>{{ companyUserImageDTO.lastName }}</p>
    <p class="card-text">
      <b>phoneNumber: </b>{{ companyUserImageDTO.phoneNumber }}
    </p>
    <p class="card-text">
      <b>companyUserId: </b>{{ companyUserImageDTO.companyUserId }}
    </p>
    <p class="card-text">
      <b>companyUserName: </b>{{ companyUserImageDTO.companyUserName }}
    </p>
    <p class="card-text">
      <b>imageOwnName: </b>{{ companyUserImageDTO.imageOwnName }}
    </p>
    <p class="card-text">
      <b>imagePath: </b>{{ companyUserImageDTO.imagePath }}
    </p>
    <p class="card-text">
      <b>imageName: </b>{{ companyUserImageDTO.imageName }}
    </p>
    <p class="card-text">
      <b>createdDate: </b
      >{{ companyUserImageDTO.createdDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>updatedDate: </b
      >{{ companyUserImageDTO.updatedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>deletedDate: </b
      >{{ companyUserImageDTO.deletedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
  </div>
</div>
<div class="d-grid gap-2">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
