<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>
      <div class="mb-3" *ngIf="admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              class="form-control"
              placeholder="email"
              [(ngModel)]="personelUserCvEducationDTO.email"
              name="email"
              #email="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Cv Name</span>
            <input
              class="form-control"
              placeholder="text"
              [(ngModel)]="personelUserCvEducationDTO.cvName"
              name="cvName"
              #email="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">University Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvEducationDTO.universityName"
              type="text"
              class="form-control"
              name="universityName"
              #universityName="ngModel"
              placeholder="University Name"
              list="universityNameDataList"
            />
            <datalist id="universityNameDataList">
              <option
                *ngFor="let university of universities"
                value="{{ university.universityName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="universityNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!universityName.valid && universityName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(universityName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Faculty Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvEducationDTO.facultyName"
              type="text"
              class="form-control"
              name="facultyName"
              #facultyName="ngModel"
              placeholder="Faculty Name"
              list="facultyNameDataList"
            />
            <datalist id="facultyNameDataList">
              <option
                *ngFor="let universityFaculty of universityFaculties"
                value="{{ universityFaculty.facultyName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="facultyNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!facultyName.valid && facultyName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(facultyName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Department Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvEducationDTO.departmentName"
              type="text"
              class="form-control"
              name="departmentName"
              #departmentName="ngModel"
              placeholder="Department Name"
              list="departmentNameDataList"
            />
            <datalist id="departmentNameDataList">
              <option
                *ngFor="let universityDepartment of universityDepartments"
                value="{{ universityDepartment.departmentName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="departmentNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!departmentName.valid && departmentName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(departmentName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div
            class="input-group"
            style="
              border: 1px solid lightgrey;
              width: 100%;
              justify-content: space-between;
              border-radius: 5px;
            "
          >
            <span class="input-group-text"
              ><label class="form-check-label" for="switchCheckDefault"
                >is Abandonment?</label
              ></span
            >
            <div class="form-check form-switch">
              <input
                class="form-check-input position-absolute top-50 start-100 translate-middle"
                type="checkbox"
                role="switch"
                id="switchCheckDefault"
                [(ngModel)]="personelUserCvEducationDTO.abandonment"
                name="abandonment"
                (change)="endDateClear()"
                style="width: 40px; height: 20px; top: 45% !important"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">Start Date</span>
          <input
            required
            minlength="3"
            maxlength="50"
            min="1950-01-01"
            max="{{ today | date : 'yyyy/MM/dd' }}"
            pattern=""
            [(ngModel)]="personelUserCvEducationDTO.startDate"
            type="date"
            class="form-control"
            name="startDate"
            #startDate="ngModel"
          />
          <span class="input-group-text">
            <i
              (click)="startDateClear()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>
        <div *ngIf="!startDate.valid && startDate.touched">
          <div
            class="error-message"
            *ngFor="let error of getValidationErrors(startDate)"
          >
            {{ error }}
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text">End Date</span>
          <input
            [required]="personelUserCvEducationDTO.abandonment == false"
            maxlength="50"
            min="1950-01-01"
            max="{{ today | date : 'yyyy/MM/dd' }}"
            pattern=""
            [(ngModel)]="personelUserCvEducationDTO.endDate"
            type="date"
            class="form-control"
            name="endDate"
            #endDate="ngModel"
            [disabled]="personelUserCvEducationDTO.abandonment == true"
          />
          <span class="input-group-text">
            <i
              (click)="endDateClear()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>
        <div *ngIf="!endDate.valid && endDate.touched">
          <div
            class="error-message"
            *ngFor="let error of getValidationErrors(endDate)"
          >
            {{ error }}
          </div>
        </div>
      </div>
      <div class="optionalInformation">İsteğe Bağlı Bilgiler</div>
      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Education Info</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvEducationDTO.educationInfo"
              type="text"
              class="form-control"
              name="educationInfo"
              #educationInfo="ngModel"
              placeholder="Education Info"
            />
            <span class="input-group-text">
              <i
                (click)="educationInfoClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!educationInfo.valid && educationInfo.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(educationInfo)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text"
              >Detail <br />{{ detailCount }} \ 2000</span
            >
            <textarea
              maxlength="2000"
              pattern=""
              class="form-control"
              [(ngModel)]="personelUserCvEducationDTO.detail"
              name="detail"
              #detail="ngModel"
              style="height: 100px"
              (input)="count()"
            ></textarea>
            <span class="input-group-text">
              <i
                (click)="detailClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!detail.valid && detail.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(detail)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Update
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
