<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Department Name</span>
            <input
              required
              minlength="3"
              maxlength="60"
              pattern=""
              [(ngModel)]="departmentModel.departmentName"
              type="text"
              class="form-control"
              name="departmentName"
              #departmentName="ngModel"
              placeholder="Department Name"
            />
            <span class="input-group-text">
              <i
                (click)="departmentNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!departmentName.valid && departmentName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(departmentName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            [(ngModel)]="departmentModel.isCompany"
            name="isCompany"
          />
          <label class="form-check-label" for="checkChecked">
            isCompany Department?
          </label>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
