<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <p class="card-text"><b>Id: </b>{{ universityDTO.id }}</p>
    <p class="card-text">
      <b>universityName: </b>{{ universityDTO.universityName }}
    </p>
    <p class="card-text"><b>sectorId: </b>{{ universityDTO.sectorId }}</p>
    <p class="card-text"><b>sectorName: </b>{{ universityDTO.sectorName }}</p>
    <p class="card-text"><b>address: </b>{{ universityDTO.address }}</p>
    <p class="card-text">
      <b>workerCountId: </b>{{ universityDTO.workerCountId }}
    </p>
    <p class="card-text">
      <b>workerCountValue: </b>{{ universityDTO.workerCountValue }}
    </p>
    <p class="card-text">
      <b>yearOfEstablishment: </b
      >{{
        universityDTO.yearOfEstablishment | date : "dd/MM/yyyy" | nullDateFormat
      }}
    </p>
    <p class="card-text"><b>webAddress: </b>{{ universityDTO.webAddress }}</p>
    <p class="card-text">
      <b>webNewsAddress: </b>{{ universityDTO.webNewsAddress }}
    </p>
    <p class="card-text">
      <b>facebookAddress: </b>{{ universityDTO.facebookAddress }}
    </p>
    <p class="card-text">
      <b>instagramAddress: </b>{{ universityDTO.instagramAddress }}
    </p>
    <p class="card-text">
      <b>youTubeAddress: </b>{{ universityDTO.youTubeAddress }}
    </p>
    <p class="card-text">
      <b>youTubeEmbedAddress: </b>{{ universityDTO.youTubeEmbedAddress }}
    </p>
    <p class="card-text">
      <b>createdDate: </b
      >{{ universityDTO.createdDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>updatedDate: </b
      >{{ universityDTO.updatedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>deletedDate: </b
      >{{ universityDTO.deletedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
  </div>
</div>
<div class="d-grid gap-2">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
