<div class="card">
  <div class="card-body">
    <div class="alert alert-primary" role="alert">
      Lütfen seçiminizi dikkatli yapınız. Seçiminiz geri alınamaz!
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="https://localhost:7088//uploads/images/common/thumbs/is_ariyorum.jpg"
            class="img-fluid img-thumbnail"
            style="
              height: 200px;
              width: 100%;
              text-align: center;
              border: none;
              cursor: pointer;
            "
            #personelUser
            alt="İş Arıyorum"
            (click)="updatePersonelUserCode()"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="https://localhost:7088//uploads/images/common/thumbs/eleman_ariyorum.jpg"
            class="img-fluid img-thumbnail"
            style="
              height: 200px;
              width: 100%;
              text-align: center;
              border: none;
              cursor: pointer;
            "
            #companyUser
            alt="Eleman Arıyorum"
            (click)="updateCompanyUserCode()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
