<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>
      <div class="mb-3" *ngIf="admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              class="form-control"
              placeholder="email"
              [(ngModel)]="companyUserAdvertDTO.email"
              name="email"
              #email="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Company Name</span>
            <input
              required
              minlength="3"
              maxlength="100"
              pattern=""
              type="text"
              class="form-control"
              [(ngModel)]="companyUserAdvertDTO.companyUserName"
              name="companyUserName"
              #companyUserName="ngModel"
              placeholder="Company Name"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Advert Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.advertName"
              type="text"
              class="form-control"
              name="advertName"
              #advertName="ngModel"
              placeholder="Advert Name"
              [disabled]="!companyUserAdvertDTO.companyUserName"
            />
            <span class="input-group-text">
              <i
                (click)="advertNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!advertName.valid && advertName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(advertName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div
        class="input-group mb-3 justify-content-md-center"
        *ngIf="result == true"
      >
        <div class="card">
          <img
            *ngIf="companyUserAdvertDTO.advertImageName"
            src="{{
              companyUserAdvertDTO.advertImagePath +
                'thumbs/' +
                companyUserAdvertDTO.advertImageName
            }}"
            class="img-fluid"
            alt="{{ companyUserAdvertDTO.advertImageOwnName }}"
          />
          <i
            type="button"
            (click)="deleteImage()"
            class="bi bi-x-circle-fill btn btn-outline-danger"
          >
            Delete Image
          </i>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="input-group">
          <input
            class="form-control"
            type="file"
            pattern=""
            [(ngModel)]="companyUserAdvertDTO.advertImageName"
            name="advertImageName"
            #advertImageName="ngModel"
            placeholder="Upload Image"
            (change)="onImageSelected($event)"
            aria-label="Upload File"
            [disabled]="!companyUserAdvertDTO.advertName"
          />
          <span class="input-group-text">
            <i
              (click)="advertImageNameClear()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>
        <div *ngIf="!advertImageName.valid && advertImageName.touched">
          <div
            class="error-message"
            *ngFor="let error of getValidationErrors(advertImageName)"
          >
            {{ error }}
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Image Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.advertImageOwnName"
              type="text"
              class="form-control"
              name="advertImageOwnName"
              #advertImageOwnName="ngModel"
              placeholder="Image Name"
              [disabled]="!companyUserAdvertDTO.advertImageName"
            />
            <span class="input-group-text">
              <i
                (click)="advertImageOwnNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!advertImageOwnName.valid && advertImageOwnName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(advertImageOwnName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Work Area Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.workAreaName"
              type="text"
              name="workAreaName"
              #workAreaName="ngModel"
              class="form-control"
              placeholder="Work Area"
              list="workAreaNameDataList"
              [disabled]="!companyUserAdvertDTO.advertImageOwnName"
            />
            <datalist id="workAreaNameDataList">
              <option
                *ngFor="let workArea of workAreas"
                value="{{ workArea.areaName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="workAreaNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!workAreaName.valid && workAreaName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(workAreaName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Working Method Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.workingMethodName"
              type="text"
              class="form-control"
              name="workingMethodName"
              #workingMethodName="ngModel"
              placeholder="Working Method"
              list="workingMethodNameDataList"
              [disabled]="!companyUserAdvertDTO.workAreaName"
            />
            <datalist id="workingMethodNameDataList">
              <option
                *ngFor="let workingMethod of workingMethods"
                value="{{ workingMethod.methodName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="workingMethodNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!workingMethodName.valid && workingMethodName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(workingMethodName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Department Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.departmentName"
              type="text"
              class="form-control"
              name="departmentName"
              #departmentName="ngModel"
              placeholder="Department"
              list="departmentNameDataList"
              [disabled]="!companyUserAdvertDTO.workingMethodName"
            />
            <datalist id="departmentNameDataList">
              <option
                *ngFor="let companyUserDepartment of companyUserDepartments"
                value="{{ companyUserDepartment.departmentName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="departmentNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!departmentName.valid && departmentName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(departmentName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Position</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.positionName"
              type="text"
              class="form-control"
              name="positionName"
              #positionName="ngModel"
              placeholder="Position"
              list="positionNameDataList"
              [disabled]="!companyUserAdvertDTO.departmentName"
            />
            <datalist id="positionNameDataList">
              <option
                *ngFor="let position of positions"
                value="{{ position.positionName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="positionNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!positionName.valid && positionName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(positionName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Position Level</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.positionLevelName"
              type="text"
              class="form-control"
              name="positionLevelName"
              #positionLevelName="ngModel"
              placeholder="Position Level"
              list="positionLevelNameDataList"
              [disabled]="!companyUserAdvertDTO.positionName"
            />
            <datalist id="positionLevelNameDataList">
              <option
                *ngFor="let positionLevel of positionLevels"
                value="{{ positionLevel.positionLevelName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="positionLevelNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!positionLevelName.valid && positionLevelName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(positionLevelName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Country Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.countryName"
              type="text"
              class="form-control"
              name="countryName"
              #countryName="ngModel"
              placeholder="Country Name"
              (change)="getCities(companyUserAdvertDTO.countryName)"
              list="countryNameDataList"
              [disabled]="!companyUserAdvertDTO.positionLevelName"
            />
            <datalist id="countryNameDataList">
              <option
                *ngFor="let country of countries"
                value="{{ country.countryName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="countryNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!countryName.valid && countryName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(countryName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">City Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.cityName"
              type="text"
              class="form-control"
              name="cityName"
              #cityName="ngModel"
              placeholder="City Name"
              (change)="getRegions(companyUserAdvertDTO.cityName)"
              list="cityNameDataList"
              [disabled]="!companyUserAdvertDTO.countryName"
            />
            <datalist id="cityNameDataList">
              <option
                *ngFor="let city of cities"
                value="{{ city.cityName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="cityNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!cityName.valid && cityName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(cityName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Region Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.regionName"
              type="text"
              class="form-control"
              name="regionName"
              #regionName="ngModel"
              placeholder="Region Name"
              list="regionNameDataList"
              [disabled]="!companyUserAdvertDTO.cityName"
            />
            <datalist id="regionNameDataList">
              <option
                *ngFor="let region of regions"
                value="{{ region.regionName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="regionNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!regionName.valid && regionName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(regionName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Sector Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.sectorName"
              type="text"
              class="form-control"
              name="sectorName"
              #sectorName="ngModel"
              placeholder="Sector Name"
              list="sectorNameDataList"
              [disabled]="!companyUserAdvertDTO.regionName"
            />
            <datalist id="sectorNameDataList">
              <option
                *ngFor="let companyUserSector of sectors"
                value="{{ companyUserSector.sectorName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="sectorNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!sectorName.valid && sectorName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(sectorName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="optionalInformation" *ngIf="result == false">
        İsteğe Bağlı Bilgiler
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Experience Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.experienceName"
              type="text"
              class="form-control"
              name="experienceName"
              #experienceName="ngModel"
              placeholder="Experience"
              list="experienceNameDataList"
            />
            <datalist id="experienceNameDataList">
              <option
                *ngFor="let experience of experiences"
                value="{{ experience.experienceName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="experienceNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!experienceName.valid && experienceName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(experienceName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">License Degree Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.licenseDegreeName"
              type="text"
              class="form-control"
              name="licenseDegreeName"
              #licenseDegreeName="ngModel"
              placeholder="License Degree"
              list="licenseDegreeNameDataList"
            />
            <datalist id="licenseDegreeNameDataList">
              <option
                *ngFor="let licenseDegree of licenseDegrees"
                value="{{ licenseDegree.licenseDegreeName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="licenseDegreeNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!licenseDegreeName.valid && licenseDegreeName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(licenseDegreeName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Driver Licence Name</span>
            <input
              maxlength="3"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.driverLicenceName"
              type="text"
              class="form-control"
              name="driverLicenceName"
              #driverLicenceName="ngModel"
              placeholder="Driver Licence"
              list="driverLicenceNameDataList"
            />
            <datalist id="driverLicenceNameDataList">
              <option
                *ngFor="let driverLicence of driverLicences"
                value="{{ driverLicence.driverLicenceName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="driverLicenceNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!driverLicenceName.valid && driverLicenceName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(driverLicenceName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Language Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.languageName"
              type="text"
              class="form-control"
              name="languageName"
              #languageName="ngModel"
              placeholder="Language"
              list="languageNameDataList"
            />
            <datalist id="languageNameDataList">
              <option
                *ngFor="let language of languages"
                value="{{ language.languageName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="languageNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!languageName.valid && languageName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(languageName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Language Level Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserAdvertDTO.languageLevelName"
              type="text"
              class="form-control"
              name="languageLevelName"
              #languageLevelName="ngModel"
              placeholder="Language Level"
              list="languageLevelNameDataList"
            />
            <datalist id="languageLevelNameDataList">
              <option
                *ngFor="let languageLevel of languageLevels"
                value="{{ languageLevel.levelTitle }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="languageLevelNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!languageLevelName.valid && languageLevelName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(languageLevelName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="result == false">
        <div class="form-group">
          <div
            class="input-group"
            style="
              border: 1px solid lightgrey;
              width: 100%;
              justify-content: space-between;
              border-radius: 5px;
            "
          >
            <span class="input-group-text"
              ><label class="form-check-label" for="switchCheckDefault"
                >Military Status</label
              ></span
            >
            <div class="form-check form-switch">
              <input
                class="form-check-input position-absolute top-50 start-100 translate-middle"
                type="checkbox"
                role="switch"
                id="switchCheckDefault"
                [(ngModel)]="companyUserAdvertDTO.militaryStatus"
                name="militaryStatus"
                style="width: 40px; height: 20px; top: 45% !important"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        *ngIf="result == false"
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Upload
      </button>

      <button
        *ngIf="result == true"
        type="button"
        class="btn btn-outline-primary"
        disabled
      >
        Resim güncellemesi yapmak için mevcut resmi silmelisiniz.
      </button>

      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
