<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              required
              minlength="3"
              maxlength="30"
              pattern=""
              email="true"
              [(ngModel)]="personelUserFileModel.email"
              type="email"
              class="form-control"
              name="email"
              #email="ngModel"
              placeholder="email"
              list="emailDataList"
            />
            <datalist id="emailDataList">
              <option
                *ngFor="let userDTO of userDTOs"
                value="{{ userDTO.email }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="emailClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!email.valid && email.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(email)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="input-group">
          <input
            type="file"
            required
            pattern=""
            [(ngModel)]="personelUserFileModel.fileName"
            class="form-control"
            name="fileName"
            #fileName="ngModel"
            placeholder="Upload File"
            (change)="onFileSelected($event)"
            aria-label="Upload File"
          />
          <span class="input-group-text">
            <i
              (click)="fileClear()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>
        <div *ngIf="!fileName.valid && fileName.touched">
          <div
            class="error-message"
            *ngFor="let error of getValidationErrors(fileName)"
          >
            {{ error }}
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">File Name</span>
            <input
              required
              minlength="3"
              maxlength="20"
              pattern=""
              [(ngModel)]="personelUserFileModel.fileOwnName"
              type="text"
              class="form-control"
              name="fileOwnName"
              #fileOwnName="ngModel"
              placeholder="File Name"
            />
            <span class="input-group-text">
              <i
                (click)="fileOwnNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!fileOwnName.valid && fileOwnName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(fileOwnName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
