<div class="card tab-page" style="border: none">
  <div class="card-body">
    <div class="form-group">
      <div class="input-group mb-3">
        <span class="input-group-text"><i class="bi bi-filter"></i></span>
        <input
          type="text"
          [(ngModel)]="filter1"
          class="form-control"
          list="datalist1"
          id="input1"
          placeholder="Filter Personel User Images By User..."
        />
        <datalist id="datalist1">
          <option
            *ngFor="let userDTO of userDTOs"
            value="{{ userDTO.email }}"
          ></option>
        </datalist>
        <span class="input-group-text">
          <i
            (click)="clearInput1()"
            class="bi bi-x-circle"
            style="cursor: pointer"
          ></i>
        </span>
      </div>

      <div class="mt-3">
        <i
          *ngIf="personelUserImagesLenght > 0"
          (click)="deleteAll()"
          class="bi bi-trash btn btn-outline-danger"
          style="color: red"
          style="margin-left: 5px"
        >
          Delete All
        </i>
      </div>

      <div class="row mt-3">
        <div
          class="col-md-auto"
          *ngFor="
            let personelUserImageDTO of personelUserImageDTOs
              | filterPersonelUserImageByUserPipe : filter1
          "
        >
          <div class="card mt-3" style="width: 18rem">
            <img
              src="{{
                personelUserImageDTO.imagePath +
                  'thumbs/' +
                  personelUserImageDTO.imageName
              }}"
              class="img-fluid img-thumbnail"
              style="
                height: 250px;
                width: 100%;
                text-align: center;
                border: none;
              "
              alt="{{ personelUserImageDTO.imageName }}"
            />
            <div class="card-body">
              <h5 class="card-title">
                {{ personelUserImageDTO.email }}
              </h5>
              <h6 class="card-title">
                {{ personelUserImageDTO.imageName }}
              </h6>
              <div class="mt-3">
                <i
                  (click)="openDetail(personelUserImageDTO)"
                  class="bi bi-journal-text"
                  style="color: midnightblue; cursor: pointer; font-size: large"
                ></i>
                <i
                  (click)="open(personelUserImageDTO)"
                  class="bi bi-pencil-square"
                  style="
                    color: midnightblue;
                    cursor: pointer;
                    margin-left: 4px;
                    font-size: large;
                  "
                ></i>
                <i
                  style="
                    color: red;
                    cursor: pointer;
                    margin-left: 4px;
                    font-size: large;
                  "
                  (click)="delete(personelUserImageDTO)"
                  class="bi bi-trash"
                >
                </i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
