<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form [formGroup]="addForm">
      <div class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text">User Email</span>
          <input
            formControlName="userEmail"
            type="email"
            class="form-control"
            list="datalist1"
            id="input1"
            placeholder="Select User..."
            minlength="3"
            (change)="getAdminValues()"
          />
          <datalist id="datalist1">
            <option
              *ngFor="let userDTO of userDTOs"
              value="{{ userDTO.email }}"
            ></option>
          </datalist>
          <span class="input-group-text">
            <i
              (click)="clearInput1()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Cv Name</span>
          <input
            formControlName="cvName"
            type="text"
            class="form-control"
            list="datalistCv"
            id="input3"
            placeholder="Select Cv..."
            minlength="3"
          />
          <datalist id="datalistCv">
            <option
              *ngFor="let personelUserCv of personelUserCvs"
              value="{{ personelUserCv.cvName }}"
            ></option>
          </datalist>
          <span class="input-group-text">
            <i
              (click)="clearInput2()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">University Name</span>
          <input
            formControlName="universityName"
            type="text"
            class="form-control"
            list="datalist3"
            id="input3"
            placeholder="Select University..."
            minlength="3"
          />
          <datalist id="datalist3">
            <option
              *ngFor="let university of universities"
              value="{{ university.universityName }}"
            ></option>
          </datalist>
          <span class="input-group-text">
            <i
              (click)="clearInput3()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">faculty Name</span>
          <input
            formControlName="facultyName"
            type="text"
            class="form-control"
            list="datalist4"
            id="input4"
            placeholder="Select faculty..."
            minlength="3"
          />
          <datalist id="datalist4">
            <option
              *ngFor="let faculty of faculties"
              value="{{ faculty.facultyName }}"
            ></option>
          </datalist>
          <span class="input-group-text">
            <i
              (click)="clearInput4()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">department Name</span>
          <input
            formControlName="departmentName"
            type="text"
            class="form-control"
            list="datalist5"
            id="input5"
            placeholder="Select department..."
          />
          <datalist id="datalist5">
            <option
              *ngFor="let universityDepartment of universityDepartments"
              value="{{ universityDepartment.departmentName }}"
            ></option>
          </datalist>
          <span class="input-group-text">
            <i
              (click)="clearInput5()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Start Date</span>
          <input
            formControlName="startDate"
            type="date"
            class="form-control"
            id="input6"
            placeholder="Start Date"
            min="1980-01-01"
            max="2025-12-31"
            minlength="10"
            maxlength="10"
          />
          <span class="input-group-text">
            <i
              (click)="clearInput6()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">End Date</span>
          <input
            formControlName="endDate"
            type="date"
            class="form-control"
            id="input7"
            placeholder="End Date"
            min="1980-01-01"
            max="2025-12-31"
            minlength="10"
            maxlength="10"
          />
          <span class="input-group-text">
            <i
              (click)="clearInput7()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Education Info</span>
          <input
            formControlName="educationInfo"
            type="text"
            class="form-control"
            id="input8"
            placeholder="Education Info"
          />
          <span class="input-group-text">
            <i
              (click)="clearInput1()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text"
            >Detail <br />{{ detailText }} \ 250</span
          >

          <textarea
            formControlName="detail"
            class="form-control"
            id="input9"
            style="height: 120px"
            placeholder="Detail"
            minlength="50"
            maxlength="250"
            (input)="count()"
          ></textarea>
          <span class="input-group-text">
            <i
              (click)="clearInput8()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>
        <div class="input-group mb-3">
          <div class="form-check">
            <input
              formControlName="abandonment"
              class="form-check-input"
              type="checkbox"
              value=""
              id="input10"
              checked
            />
            <label class="form-check-label" for="checkChecked">
              Abandonment
            </label>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button (click)="add()" type="button" class="btn btn-outline-primary">
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
