<div class="card tab-page" style="border: none">
  <div class="card-body">
    <p class="card-text"><b>Id: </b>{{ personelUserCoverLetterDTO.id }}</p>
    <p class="card-text">
      <b>userId: </b>{{ personelUserCoverLetterDTO.userId }}
    </p>
    <p class="card-text">
      <b>email: </b>{{ personelUserCoverLetterDTO.email }}
    </p>
    <p class="card-text">
      <b>firstName: </b>{{ personelUserCoverLetterDTO.firstName }}
    </p>
    <p class="card-text">
      <b>lastName: </b>{{ personelUserCoverLetterDTO.lastName }}
    </p>
    <p class="card-text">
      <b>phoneNumber: </b>{{ personelUserCoverLetterDTO.phoneNumber }}
    </p>
    <p class="card-text">
      <b>personelUserId: </b>{{ personelUserCoverLetterDTO.personelUserId }}
    </p>
    <p class="card-text">
      <b>title: </b>{{ personelUserCoverLetterDTO.title }}
    </p>
    <p class="card-text">
      <b>description: </b>{{ personelUserCoverLetterDTO.description }}
    </p>

    <p class="card-text">
      <b>createdDate: </b
      >{{
        personelUserCoverLetterDTO.createdDate | date : "dd/MM/yyyy hh:mm:ss"
      }}
    </p>
    <p class="card-text">
      <b>updatedDate: </b
      >{{
        personelUserCoverLetterDTO.updatedDate | date : "dd/MM/yyyy hh:mm:ss"
      }}
    </p>
    <p class="card-text">
      <b>deletedDate: </b
      >{{
        personelUserCoverLetterDTO.deletedDate | date : "dd/MM/yyyy hh:mm:ss"
      }}
    </p>
  </div>
</div>
<div class="d-grid gap-2">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
