<div class="row justify-content-md-center">
  <div class="col col-md-10">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-primary" role="alert">
          {{ title }}
        </div>
        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
          <div class="mandatoryInformation">Zorunlu Bilgiler</div>
          <div class="mb-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text">Old Password</span>
                <input
                  required
                  minlength="6"
                  type="password"
                  class="form-control"
                  name="oldPassword"
                  #oldPassword="ngModel"
                  [(ngModel)]="passwordModel.oldPassword"
                  placeholder="Type the old password"
                />
              </div>
              <div *ngIf="!oldPassword.valid && oldPassword.touched">
                <div
                  class="error-message"
                  *ngFor="let error of getValidationErrors(oldPassword)"
                >
                  {{ error }}
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text">Password</span>
                <input
                  required
                  minlength="6"
                  type="password"
                  class="form-control"
                  name="password"
                  #password="ngModel"
                  [(ngModel)]="passwordModel.password"
                  placeholder="Type the old password"
                />
              </div>
              <div *ngIf="!password.valid && password.touched">
                <div
                  class="error-message"
                  *ngFor="let error of getValidationErrors(password)"
                >
                  {{ error }}
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-text">New Password</span>
                <input
                  required
                  minlength="6"
                  type="password"
                  class="form-control"
                  name="newPassword"
                  #newPassword="ngModel"
                  [(ngModel)]="passwordModel.newPassword"
                  placeholder="Type the new password"
                />
              </div>
              <div *ngIf="!newPassword.valid && newPassword.touched">
                <div
                  class="error-message"
                  *ngFor="let error of getValidationErrors(newPassword)"
                >
                  {{ error }}
                </div>
              </div>
            </div>
          </div>

          <div class="d-grid gap-2">
            <button
              type="submit"
              [disabled]="!form.valid"
              class="btn btn-outline-success"
            >
              Update Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
