<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form [formGroup]="addForm">
      <div class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text">University Name</span>
          <input
            formControlName="universityName"
            type="text"
            class="form-control"
            list="universitydatalist"
            id="university"
            placeholder="Select University..."
          />
          <datalist id="universitydatalist">
            <option
              *ngFor="let university of universities"
              value="{{ university.universityName }}"
            ></option>
          </datalist>
          <span class="input-group-text">
            <i
              (click)="clearInput1()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Faculty Name</span>
          <input
            formControlName="facultyName"
            type="text"
            class="form-control"
            list="facultydatalist"
            id="faculty"
            placeholder="Select Faculty..."
          />
          <datalist id="facultydatalist">
            <option
              *ngFor="let faculty of faculties"
              value="{{ faculty.facultyName }}"
            ></option>
          </datalist>
          <span class="input-group-text">
            <i
              (click)="clearInput1()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Department Name</span>
          <input
            formControlName="departmentName"
            type="text"
            class="form-control"
            list="departmentdatalist"
            id="department"
            placeholder="Select Department..."
          />
          <datalist id="departmentdatalist">
            <option
              *ngFor="let department of departments"
              value="{{ department.departmentName }}"
            ></option>
          </datalist>
          <span class="input-group-text">
            <i
              (click)="clearInput2()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button (click)="add()" type="button" class="btn btn-outline-primary">
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
