<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>
      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">City Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="taxOfficeModel.cityName"
              type="text"
              class="form-control"
              name="cityName"
              #cityName="ngModel"
              placeholder="City Name"
              (change)="getRegions(taxOfficeModel.cityName)"
              list="cityNameDataList"
            />
            <datalist id="cityNameDataList">
              <option
                *ngFor="let city of cities"
                value="{{ city.cityName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="cityNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!cityName.valid && cityName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(cityName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Region Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="taxOfficeModel.regionName"
              type="text"
              class="form-control"
              name="regionName"
              #regionName="ngModel"
              placeholder="City Name"
              list="regionNameDataList"
            />
            <datalist id="regionNameDataList">
              <option
                *ngFor="let region of regions"
                value="{{ region.regionName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="regionNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!regionName.valid && regionName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(regionName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Tax Office Code</span>
            <input
              required
              minlength="4"
              maxlength="5"
              pattern="[0-9\/]*"
              inputmode="numeric"
              [(ngModel)]="taxOfficeModel.taxOfficeCode"
              type="text"
              class="form-control"
              name="taxOfficeCode"
              #taxOfficeCode="ngModel"
              placeholder="Tax Office Code"
            />
            <span class="input-group-text">
              <i
                (click)="taxOfficeCodeClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!taxOfficeCode.valid && taxOfficeCode.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(taxOfficeCode)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Tax Office Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="taxOfficeModel.taxOfficeName"
              type="text"
              class="form-control"
              name="taxOfficeName"
              #taxOfficeName="ngModel"
              placeholder="Tax Office Name"
            />
            <span class="input-group-text">
              <i
                (click)="taxOfficeNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!taxOfficeName.valid && taxOfficeName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(taxOfficeName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
