<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <p class="card-text"><b>Id: </b>{{ companyUserFileDTO.id }}</p>
    <p class="card-text"><b>userId: </b>{{ companyUserFileDTO.userId }}</p>
    <p class="card-text"><b>email: </b>{{ companyUserFileDTO.email }}</p>
    <p class="card-text">
      <b>firstName: </b>{{ companyUserFileDTO.firstName }}
    </p>
    <p class="card-text"><b>lastName: </b>{{ companyUserFileDTO.lastName }}</p>
    <p class="card-text">
      <b>phoneNumber: </b>{{ companyUserFileDTO.phoneNumber }}
    </p>
    <p class="card-text">
      <b>companyUserId: </b>{{ companyUserFileDTO.companyUserId }}
    </p>
    <p class="card-text">
      <b>companyUserName: </b>{{ companyUserFileDTO.companyUserName }}
    </p>

    <p class="card-text"><b>filePath: </b>{{ companyUserFileDTO.filePath }}</p>
    <p class="card-text"><b>fileName: </b>{{ companyUserFileDTO.fileName }}</p>
    <p class="card-text">
      <b>fileOwnName: </b>{{ companyUserFileDTO.fileOwnName }}
    </p>
    <p class="card-text">
      <b>createdDate: </b
      >{{ companyUserFileDTO.createdDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>updatedDate: </b
      >{{ companyUserFileDTO.updatedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>deletedDate: </b
      >{{ companyUserFileDTO.deletedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
  </div>
</div>
<div class="d-grid gap-2">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
