<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>
      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Level</span>
            <input
              required
              minlength="3"
              maxlength="1"
              pattern="[1-9\/]*"
              [(ngModel)]="languageLevelModel.level"
              type="number"
              class="form-control"
              name="level"
              #level="ngModel"
              placeholder="Level"
            />
            <span class="input-group-text">
              <i
                (click)="levelClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!level.valid && level.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(level)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Level Title</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="languageLevelModel.levelTitle"
              type="text"
              class="form-control"
              name="levelTitle"
              #levelTitle="ngModel"
              placeholder="Level Title"
            />
            <span class="input-group-text">
              <i
                (click)="levelTitleClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!levelTitle.valid && levelTitle.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(levelTitle)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Level Description</span>
            <input
              required
              minlength="3"
              maxlength="250"
              pattern=""
              [(ngModel)]="languageLevelModel.levelDescription"
              type="text"
              class="form-control"
              name="levelDescription"
              #levelDescription="ngModel"
              placeholder="Level Description"
            />
            <span class="input-group-text">
              <i
                (click)="levelDescriptionClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!levelDescription.valid && levelDescription.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(levelDescription)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
