<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Department Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserDepartment.departmentName"
              type="text"
              class="form-control"
              name="departmentName"
              #departmentName="ngModel"
              placeholder="Department Name"
              list="departmentNameDataList"
            />
            <datalist id="departmentNameDataList">
              <option
                *ngFor="let companyUserDepartmen of companyUserDepartments"
                value="{{ companyUserDepartmen.departmentName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="departmentNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!departmentName.valid && departmentName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(departmentName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Update
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
