<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form [formGroup]="updateForm" class="form">
      <div class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text">Department Name</span>
          <input
            formControlName="departmentName"
            type="text"
            class="form-control"
            id="departmentName"
            placeholder="Type Department Name..."
          />
          <span class="input-group-text">
            <i
              (click)="clearInput1()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button (click)="update()" type="button" class="btn btn-outline-primary">
        Update
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        routerLink="/dashboard/companyuserdepartments"
        routerLinkActive="router-link-active"
      >
        Back
      </button>
    </div>
  </div>
</div>
