<div class="container">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>

  <div class="nav nav-tabs d-flex mt-3" id="nav-tab" role="tablist">
    <a
      class="w-100 nav-item nav-link"
      routerLink="alluserbypagelisttab"
      routerLinkActive="active"
      style="flex: 1"
    >
      {{ componentTitle }} List By Page
    </a>
    <a
      class="w-100 nav-item nav-link"
      routerLink="alluserlisttab"
      routerLinkActive="active"
      style="flex: 1"
    >
      {{ componentTitle }} List
    </a>

    <a
      class="w-100 nav-item nav-link"
      routerLink="alluserdeletedlisttab"
      routerLinkActive="active"
      style="flex: 1"
    >
      {{ componentTitle }} Deleted List
    </a>
  </div>
</div>
<router-outlet></router-outlet>
