<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>

      <div class="mb-3" *ngIf="admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              email="true"
              [(ngModel)]="personelUserModel.email"
              type="email"
              class="form-control"
              name="email"
              #email="ngModel"
              placeholder="email"
              list="emailDataList"
              (change)="setPersonelUserMail(personelUserModel.email)"
            />
            <datalist id="emailDataList">
              <option
                *ngFor="let userDTO of userDTOs"
                value="{{ userDTO.email }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="emailClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!email.valid && email.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(email)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="!admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              class="form-control"
              placeholder="email"
              [(ngModel)]="personelUserModel.email"
              name="email"
              #email="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="optionalInformation">İsteğe Bağlı Bilgiler</div>
      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">identity Number</span>
            <input
              minlength="11"
              maxlength="11"
              pattern="[0-9\/]*"
              inputmode="numeric"
              [(ngModel)]="personelUserModel.identityNumber"
              type="text"
              class="form-control"
              name="identityNumber"
              #identityNumber="ngModel"
              placeholder="identity Number"
            />
            <span class="input-group-text">
              <i
                (click)="identityNumberClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!identityNumber.valid && identityNumber.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(identityNumber)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Licence Degree Name</span>
            <input
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserModel.licenseDegreeName"
              type="text"
              class="form-control"
              name="licenseDegreeName"
              #licenseDegreeName="ngModel"
              placeholder="Licence Degree Name"
              list="licenseDegreeNameDataList"
            />
            <datalist id="licenseDegreeNameDataList">
              <option
                *ngFor="let licenseDegree of licenseDegrees"
                value="{{ licenseDegree.licenseDegreeName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="licenseDegreeNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!licenseDegreeName.valid && licenseDegreeName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(licenseDegreeName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Driver Licence Name</span>
            <input
              maxlength="15"
              pattern=""
              [(ngModel)]="personelUserModel.driverLicenceName"
              type="text"
              class="form-control"
              name="driverLicenceName"
              #driverLicenceName="ngModel"
              placeholder="Driver Licence Name"
              list="driverLicenceNameDataList"
            />
            <datalist id="driverLicenceNameDataList">
              <option
                *ngFor="let driverLicence of driverLicences"
                value="{{ driverLicence.driverLicenceName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="driverLicenceNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!driverLicenceName.valid && driverLicenceName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(driverLicenceName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Birth Place Name</span>
            <input
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserModel.birthPlaceName"
              type="text"
              class="form-control"
              name="birthPlaceName"
              #birthPlaceName="ngModel"
              placeholder="Birth Place Name"
              list="birthPlaceNameDataList"
            />
            <datalist id="birthPlaceNameDataList">
              <option
                *ngFor="let city of cities"
                value="{{ city.cityName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="birthPlaceNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!birthPlaceName.valid && birthPlaceName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(birthPlaceName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Title</span>
            <input
              maxlength="150"
              pattern=""
              [(ngModel)]="personelUserModel.title"
              type="text"
              class="form-control"
              name="title"
              #title="ngModel"
              placeholder="Title"
            />

            <span class="input-group-text">
              <i
                (click)="titleNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!title.valid && title.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(title)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Date Of Birth</span>
            <input
              maxlength="50"
              min="1950-01-01"
              max="{{ today | date : 'yyyy/MM/dd' }}"
              pattern=""
              [(ngModel)]="personelUserModel.dateOfBirth"
              type="date"
              class="form-control"
              name="dateOfBirth"
              #dateOfBirth="ngModel"
            />

            <span class="input-group-text">
              <i
                (click)="dateOfBirthClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!dateOfBirth.valid && dateOfBirth.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(dateOfBirth)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div
            class="input-group"
            style="
              border: 1px solid lightgrey;
              width: 100%;
              justify-content: space-between;
              border-radius: 5px;
            "
          >
            <span class="input-group-text"
              ><label class="form-check-label" for="switchCheckDefault"
                >Military Status</label
              ></span
            >
            <div class="form-check form-switch">
              <input
                class="form-check-input position-absolute top-50 start-100 translate-middle"
                type="checkbox"
                role="switch"
                id="switchCheckDefault"
                [(ngModel)]="personelUserModel.militaryStatus"
                name="militaryStatus"
                style="width: 40px; height: 20px; top: 45% !important"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div
            class="input-group"
            style="
              border: 1px solid lightgrey;
              width: 100%;
              justify-content: space-between;
              border-radius: 5px;
            "
          >
            <span class="input-group-text"
              ><label class="form-check-label" for="switchCheckDefault"
                >National Status</label
              ></span
            >
            <div class="form-check form-switch">
              <input
                class="form-check-input position-absolute top-50 start-100 translate-middle"
                type="checkbox"
                role="switch"
                id="switchCheckDefault"
                [(ngModel)]="personelUserModel.nationalStatus"
                name="nationalStatus"
                style="width: 40px; height: 20px; top: 45% !important"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div
            class="input-group"
            style="
              border: 1px solid lightgrey;
              width: 100%;
              justify-content: space-between;
              border-radius: 5px;
            "
          >
            <span class="input-group-text"
              ><label class="form-check-label" for="switchCheckDefault"
                >Retirement Status</label
              ></span
            >
            <div class="form-check form-switch">
              <input
                class="form-check-input position-absolute top-50 start-100 translate-middle"
                type="checkbox"
                role="switch"
                id="switchCheckDefault"
                [(ngModel)]="personelUserModel.retirementStatus"
                name="retirementStatus"
                style="width: 40px; height: 20px; top: 45% !important"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div
            class="input-group"
            style="
              border: 1px solid lightgrey;
              width: 100%;
              justify-content: space-between;
              border-radius: 5px;
            "
          >
            <span class="input-group-text"
              ><label class="form-check-label" for="switchCheckDefault"
                >Gender Status</label
              ></span
            >
            <div class="form-check form-switch">
              <input
                class="form-check-input position-absolute top-50 start-100 translate-middle"
                type="checkbox"
                role="switch"
                id="switchCheckDefault"
                [(ngModel)]="personelUserModel.gender"
                name="gender"
                style="width: 40px; height: 20px; top: 45% !important"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
