<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>
      <div class="mb-3" *ngIf="admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              email="true"
              [(ngModel)]="companyUserImageModel.email"
              type="email"
              class="form-control"
              name="email"
              #email="ngModel"
              placeholder="email"
              list="emailDataList"
              (change)="setCompanyUserMail(companyUserImageModel.email)"
            />
            <datalist id="emailDataList">
              <option
                *ngFor="let userDTO of userDTOs"
                value="{{ userDTO.email }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="emailClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!email.valid && email.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(email)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="!admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              class="form-control"
              placeholder="email"
              [(ngModel)]="companyUserImageModel.email"
              name="email"
              #email="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Company User Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserImageModel.companyUserName"
              type="text"
              class="form-control"
              name="companyUserName"
              #companyUserName="ngModel"
              placeholder="Company User Name"
              list="companyUserNameDataList"
              [disabled]="!companyUserImageModel.email"
            />
            <datalist id="companyUserNameDataList">
              <option
                *ngFor="let companyUser of companyUsers"
                value="{{ companyUser.companyUserName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="companyUserNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!companyUserName.valid && companyUserName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(companyUserName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="input-group">
          <input
            type="file"
            required
            pattern=""
            [(ngModel)]="companyUserImageModel.imageName"
            class="form-control"
            name="imageName"
            #imageName="ngModel"
            placeholder="Upload Image"
            (change)="onImageSelected($event)"
            aria-label="Upload File"
            [disabled]="!companyUserImageModel.companyUserName"
          />
          <span class="input-group-text">
            <i
              (click)="imageNameClear()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>
        <div *ngIf="!imageName.valid && imageName.touched">
          <div
            class="error-message"
            *ngFor="let error of getValidationErrors(imageName)"
          >
            {{ error }}
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Image Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserImageModel.imageOwnName"
              type="text"
              class="form-control"
              name="imageOwnName"
              #imageOwnName="ngModel"
              placeholder="Image Name"
              [disabled]="!companyUserImageModel.imageName"
            />
            <span class="input-group-text">
              <i
                (click)="imageOwnNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!imageOwnName.valid && imageOwnName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(imageOwnName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
