<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>
      <div class="mb-3" *ngIf="admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              class="form-control"
              placeholder="email"
              [(ngModel)]="personelUserCvWorkExperienceDTO.email"
              name="email"
              #email="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Company Name</span>
            <input
              class="form-control"
              placeholder="text"
              [(ngModel)]="personelUserCvWorkExperienceDTO.companyName"
              name="companyName"
              #companyName="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Cv Name</span>
            <input
              class="form-control"
              placeholder="text"
              [(ngModel)]="personelUserCvWorkExperienceDTO.cvName"
              name="cvName"
              #email="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Position</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceDTO.positionName"
              type="text"
              class="form-control"
              name="positionName"
              #positionName="ngModel"
              placeholder="Position"
              list="positionNameDataList"
            />
            <datalist id="positionNameDataList">
              <option
                *ngFor="let position of positions"
                value="{{ position.positionName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="positionClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!positionName.valid && positionName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(positionName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Position Level</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceDTO.positionLevelName"
              type="text"
              class="form-control"
              name="positionLevelName"
              #positionLevelName="ngModel"
              placeholder="Position"
              list="positionLevelNameDataList"
            />
            <datalist id="positionLevelNameDataList">
              <option
                *ngFor="let positionLevel of positionLevels"
                value="{{ positionLevel.positionLevelName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="positionLevelNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!positionLevelName.valid && positionLevelName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(positionLevelName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div
            class="input-group"
            style="
              border: 1px solid lightgrey;
              width: 100%;
              justify-content: space-between;
              border-radius: 5px;
            "
          >
            <span class="input-group-text"
              ><label class="form-check-label" for="switchCheckDefault"
                >Still Working?</label
              ></span
            >
            <div class="form-check form-switch">
              <input
                class="form-check-input position-absolute top-50 start-100 translate-middle"
                type="checkbox"
                role="switch"
                id="switchCheckDefault"
                [(ngModel)]="personelUserCvWorkExperienceDTO.working"
                name="working"
                (change)="endDateClear()"
                style="width: 40px; height: 20px; top: 45% !important"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Start Date</span>
            <input
              required
              minlength="3"
              maxlength="50"
              min="1950-01-01"
              max="{{ today | date : 'yyyy/MM/dd' }}"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceDTO.startDate"
              type="date"
              class="form-control"
              name="startDate"
              #startDate="ngModel"
            />

            <span class="input-group-text">
              <i
                (click)="startDateClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!startDate.valid && startDate.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(startDate)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">End Date</span>
            <input
              [required]="personelUserCvWorkExperienceDTO.working == false"
              minlength="3"
              maxlength="50"
              min="1950-01-01"
              max="{{ today | date : 'yyyy/MM/dd' }}"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceDTO.endDate"
              type="date"
              class="form-control"
              name="endDate"
              #endDate="ngModel"
              [disabled]="this.personelUserCvWorkExperienceDTO.working == true"
            />

            <span class="input-group-text">
              <i
                (click)="endDateClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!endDate.valid && endDate.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(endDate)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div
        class="alert alert-light"
        role="alert"
        style="
          padding: 5px;
          font-weight: 600;
          border: none;
          border-bottom: 1px solid blue;
        "
      >
        İsteğe Bağlı Bilgiler
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Sector Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceDTO.companySectorName"
              type="text"
              class="form-control"
              name="companySectorName"
              #companySectorName="ngModel"
              placeholder="Sector Name"
              list="companySectorNameDataList"
            />
            <datalist id="companySectorNameDataList">
              <option
                *ngFor="let companySector of companySectors"
                value="{{ companySector.sectorName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="companySectorNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!companySectorName.valid && companySectorName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(companySectorName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Department Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceDTO.departmentName"
              type="text"
              class="form-control"
              name="departmentName"
              #departmentName="ngModel"
              placeholder="Department Name"
              list="departmentNameDataList"
            />
            <datalist id="departmentNameDataList">
              <option
                *ngFor="let companyUserDepartment of companyUserDepartments"
                value="{{ companyUserDepartment.departmentName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="departmentNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!departmentName.valid && departmentName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(departmentName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div
            class="input-group"
            style="
              border: 1px solid lightgrey;
              width: 100%;
              justify-content: space-between;
              border-radius: 5px;
            "
          >
            <span class="input-group-text"
              ><label class="form-check-label" for="switchCheckDefault"
                >Found Job In Here?</label
              ></span
            >
            <div class="form-check form-switch">
              <input
                class="form-check-input position-absolute top-50 start-100 translate-middle"
                type="checkbox"
                role="switch"
                id="switchCheckDefault"
                [(ngModel)]="personelUserCvWorkExperienceDTO.foundJobInHere"
                name="foundJobInHere"
                style="width: 40px; height: 20px; top: 45% !important"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Working Method Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceDTO.workingMethodName"
              type="text"
              class="form-control"
              name="workingMethodName"
              #workingMethodName="ngModel"
              placeholder="Working Method Name"
              list="workingMethodNameDataList"
            />
            <datalist id="workingMethodNameDataList">
              <option
                *ngFor="let workingMethod of workingMethods"
                value="{{ workingMethod.methodName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="workingMethodNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!workingMethodName.valid && workingMethodName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(workingMethodName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Country Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceDTO.countryName"
              type="text"
              class="form-control"
              name="countryName"
              #countryName="ngModel"
              placeholder="Country Name"
              (change)="
                setCountryName(personelUserCvWorkExperienceDTO.countryName)
              "
              list="countryNameDataList"
            />
            <datalist id="countryNameDataList">
              <option
                *ngFor="let country of countries"
                value="{{ country.countryName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="countryNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!countryName.valid && countryName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(countryName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">City Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceDTO.cityName"
              type="text"
              class="form-control"
              name="cityName"
              #cityName="ngModel"
              placeholder="City Name"
              (change)="setCityName(personelUserCvWorkExperienceDTO.cityName)"
              list="cityNameDataList"
            />
            <datalist id="cityNameDataList">
              <option
                *ngFor="let city of cities"
                value="{{ city.cityName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="cityNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!cityName.valid && cityName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(cityName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Region Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceDTO.regionName"
              type="text"
              class="form-control"
              name="regionName"
              #regionName="ngModel"
              placeholder="Region Name"
              list="regionNameDataList"
            />
            <datalist id="regionNameDataList">
              <option
                *ngFor="let region of regions"
                value="{{ region.regionName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="regionNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!regionName.valid && regionName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(regionName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text"
              >Detail <br />{{ detailCount }} \ 2000</span
            >
            <textarea
              maxlength="2000"
              pattern=""
              class="form-control"
              [(ngModel)]="personelUserCvWorkExperienceDTO.detail"
              name="detail"
              #detail="ngModel"
              style="height: 100px"
              (input)="count()"
            ></textarea>
            <span class="input-group-text">
              <i
                (click)="detailClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!detail.valid && detail.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(detail)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Update
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
