<nav
  class="navbar bg-dark navbar-expand-lg bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container-fluid mt-5">
    <div class="collapse navbar-collapse" id="navbarNav"></div>
  </div>
</nav>
<div class="container-sm">
  <div class="row justify-content-md-center mt-5">
    <div class="col col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="alert alert-success" role="alert">
            {{ title }}
          </div>

          <form #form="ngForm">
            <div class="mandatoryInformation">Zorunlu Bilgiler</div>
            <div class="mb-3">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-text">Email</span>
                  <input
                    required
                    minlength="3"
                    maxlength="50"
                    pattern=""
                    email="true"
                    [(ngModel)]="loginModel.email"
                    type="email"
                    class="form-control"
                    name="email"
                    #email="ngModel"
                    placeholder="email"
                  /><span class="input-group-text">
                    <i
                      (click)="emailClear()"
                      class="bi bi-x-circle"
                      style="cursor: pointer"
                    ></i>
                  </span>
                </div>
                <div *ngIf="!email.valid && email.touched">
                  <div
                    class="error-message"
                    *ngFor="let error of getValidationErrors(email)"
                  >
                    {{ error }}
                  </div>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-text">Password</span>
                  <input
                    required
                    minlength="6"
                    maxlength="50"
                    [(ngModel)]="loginModel.password"
                    type="password"
                    class="form-control"
                    name="password"
                    #password="ngModel"
                    placeholder="Password"
                  />
                  <span class="input-group-text">
                    <i
                      (click)="passwordClear()"
                      class="bi bi-x-circle"
                      style="cursor: pointer"
                    ></i>
                  </span>
                </div>

                <div
                  class="error-message"
                  *ngIf="!password.valid && password.touched"
                >
                  <p *ngFor="let error of getValidationErrors(password)">
                    {{ error }}
                  </p>
                </div>
              </div>
              <div class="d-grid gap-2 mt-3">
                <button
                  type="button"
                  (click)="onSubmit(form)"
                  [disabled]="!form.valid"
                  class="btn btn-outline-success"
                >
                  Sign in
                </button>

                <div style="text-align: center; margin: 0px">or</div>
              </div>
            </div>
          </form>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-primary" (click)="register()">
              Register
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
