<div class="row justify-content-md-center">
  <div class="col col-md-10">
    <div class="card">
      <div class="card-body">
        <div class="alert alert-success" role="alert">
          {{ componentTitle }}
        </div>
        <form [formGroup]="loginFom">
          <div class="mb-3">
            <div class="form-group">
              <label for="eMail" class="form-label">Email Address</label>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="email"
                placeholder="Email Address"
              />
            </div>
          </div>

          <div class="mb-3">
            <div class="form-group">
              <label for="password" class="form-label">Password</label>
              <input
                formControlName="password"
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="d-grid gap-2">
            <button
              (click)="login()"
              type="button"
              class="btn btn-outline-success"
            >
              Sign in
            </button>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="register()"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
