<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <p class="card-text"><b>Id: </b>{{ personelUserImageDTO.id }}</p>
    <p class="card-text"><b>userId: </b>{{ personelUserImageDTO.userId }}</p>
    <p class="card-text"><b>email: </b>{{ personelUserImageDTO.email }}</p>
    <p class="card-text">
      <b>firstName: </b>{{ personelUserImageDTO.firstName }}
    </p>
    <p class="card-text">
      <b>lastName: </b>{{ personelUserImageDTO.lastName }}
    </p>
    <p class="card-text">
      <b>phoneNumber: </b>{{ personelUserImageDTO.phoneNumber }}
    </p>
    <p class="card-text">
      <b>personelUserId: </b>{{ personelUserImageDTO.personelUserId }}
    </p>
    <p class="card-text">
      <b>imageOwnName: </b>{{ personelUserImageDTO.imageOwnName }}
    </p>
    <p class="card-text">
      <b>imagePath: </b>{{ personelUserImageDTO.imagePath }}
    </p>
    <p class="card-text">
      <b>imageName: </b>{{ personelUserImageDTO.imageName }}
    </p>

    <p class="card-text">
      <b>createdDate: </b
      >{{ personelUserImageDTO.createdDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>updatedDate: </b
      >{{ personelUserImageDTO.updatedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>deletedDate: </b
      >{{ personelUserImageDTO.deletedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
  </div>
</div>
<div class="d-grid gap-2">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
