<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>
      <div class="mb-3" *ngIf="admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              email="true"
              [(ngModel)]="companyUserModel.email"
              type="email"
              class="form-control"
              name="email"
              #email="ngModel"
              placeholder="email"
              list="emailDataList"
            />
            <datalist id="emailDataList">
              <option
                *ngFor="let userDTO of userDTOs"
                value="{{ userDTO.email }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="emailClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!email.valid && email.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(email)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="!admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              class="form-control"
              placeholder="email"
              [(ngModel)]="companyUserModel.email"
              name="email"
              #email="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Company User Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserModel.companyUserName"
              type="text"
              class="form-control"
              name="companyUserName"
              #companyUserName="ngModel"
              placeholder="Company User Name"
              [disabled]="!companyUserModel.email"
            />
            <span class="input-group-text">
              <i
                (click)="companyUserNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!companyUserName.valid && companyUserName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(companyUserName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
      <div class="optionalInformation">İsteğe Bağlı Bilgiler</div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Sector Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserModel.sectorName"
              type="text"
              class="form-control"
              name="sectorName"
              #sectorName="ngModel"
              placeholder="Sector Name"
              list="sectorNameDataList"
              [disabled]="!companyUserModel.companyUserName"
            />
            <datalist id="sectorNameDataList">
              <option
                *ngFor="let companyUserSector of sectors"
                value="{{ companyUserSector.sectorName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="sectorNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!sectorName.valid && sectorName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(sectorName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Tax City Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserModel.taxCityName"
              type="text"
              class="form-control"
              name="taxCityName"
              #taxCityName="ngModel"
              placeholder="Tax City Name"
              (change)="getTaxOffices(companyUserModel.taxCityName)"
              list="taxCityNameDataList"
              [disabled]="!companyUserModel.sectorName"
            />
            <datalist id="taxCityNameDataList">
              <option
                *ngFor="let city of cities"
                value="{{ city.cityName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="taxCityNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!taxCityName.valid && taxCityName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(taxCityName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Tax Office Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserModel.taxOfficeName"
              type="text"
              class="form-control"
              name="taxOfficeName"
              #taxOfficeName="ngModel"
              placeholder="Tax Office Name"
              list="taxOfficeNameDataList"
              [disabled]="!companyUserModel.taxCityName"
            />
            <datalist id="taxOfficeNameDataList">
              <option
                *ngFor="let taxOffice of taxOffices"
                value="{{ taxOffice.taxOfficeName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="taxOfficeNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!taxOfficeName.valid && taxOfficeName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(taxOfficeName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Tax Number</span>
            <input
              maxlength="10"
              pattern="[0-9\/]*"
              inputmode="numeric"
              [(ngModel)]="companyUserModel.taxNumber"
              type="text"
              class="form-control"
              name="taxNumber"
              #taxNumber="ngModel"
              placeholder="Tax Number"
              [disabled]="!companyUserModel.taxOfficeName"
            />
            <span class="input-group-text">
              <i
                (click)="taxNumberClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!taxNumber.valid && taxNumber.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(taxNumber)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Worker Count</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserModel.workerCountValue"
              type="text"
              class="form-control"
              name="workerCountValue"
              #workerCountValue="ngModel"
              placeholder="Worker Count"
              list="workerCountValueDataList"
              [disabled]="!companyUserModel.taxNumber"
            />
            <datalist id="workerCountValueDataList">
              <option
                *ngFor="let count of counts"
                value="{{ count.countValue }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="workerCountValueClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!workerCountValue.valid && workerCountValue.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(workerCountValue)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Web Address</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserModel.webAddress"
              type="text"
              class="form-control"
              name="webAddress"
              #webAddress="ngModel"
              placeholder="Web Address"
              [disabled]="!companyUserModel.workerCountValue"
            />
            <span class="input-group-text">
              <i
                (click)="webAddressClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!webAddress.valid && webAddress.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(webAddress)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Year of Establishment</span>
            <input
              maxlength="50"
              min="1950-01-01"
              max="{{ today | date : 'yyyy/MM/dd' }}"
              pattern=""
              [(ngModel)]="companyUserModel.yearOfEstablishment"
              type="date"
              class="form-control"
              name="yearOfEstablishment"
              #yearOfEstablishment="ngModel"
              [disabled]="!companyUserModel.webAddress"
            />

            <span class="input-group-text">
              <i
                (click)="yearOfEstablishmentClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div
            *ngIf="!yearOfEstablishment.valid && yearOfEstablishment.touched"
          >
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(yearOfEstablishment)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Clarification</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="companyUserModel.clarification"
              type="text"
              class="form-control"
              name="clarification"
              #clarification="ngModel"
              placeholder="Clarification"
              [disabled]="!companyUserModel.yearOfEstablishment"
            />
            <span class="input-group-text">
              <i
                (click)="clarificationClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!clarification.valid && clarification.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(clarification)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text"
              >About <br />{{ aboutDetail }} \ 2000</span
            >
            <textarea
              maxlength="2000"
              pattern=""
              class="form-control"
              name="about"
              #about="ngModel"
              style="height: 100px"
              [(ngModel)]="companyUserModel.about"
              (input)="count()"
              [disabled]="!companyUserModel.clarification"
            ></textarea>
            <span class="input-group-text">
              <i
                (click)="aboutClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!about.valid && about.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(about)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
