<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              class="form-control"
              placeholder="email"
              [(ngModel)]="companyUserDTO.email"
              name="email"
              #email="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Company User Name</span>
            <input
              required
              minlength="3"
              maxlength="30"
              pattern=""
              [(ngModel)]="companyUserDTO.companyUserName"
              type="text"
              class="form-control"
              name="companyUserName"
              #companyUserName="ngModel"
              placeholder="Company User Name"
            />
            <span class="input-group-text">
              <i
                (click)="companyUserNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!companyUserName.valid && companyUserName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(companyUserName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Sector Name</span>
            <input
              required
              minlength="3"
              maxlength="30"
              pattern=""
              [(ngModel)]="companyUserDTO.sectorName"
              type="text"
              class="form-control"
              name="sectorName"
              #sectorName="ngModel"
              placeholder="Sector Name"
              list="sectorNameDataList"
            />
            <datalist id="sectorNameDataList">
              <option
                *ngFor="let companyUserSector of sectors"
                value="{{ companyUserSector.sectorName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="sectorNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!sectorName.valid && sectorName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(sectorName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Tax City Name</span>
            <input
              required
              minlength="3"
              maxlength="20"
              pattern=""
              [(ngModel)]="companyUserDTO.taxCityName"
              type="text"
              class="form-control"
              name="taxCityName"
              #taxCityName="ngModel"
              placeholder="Tax City Name"
              (blur)="getTaxOffices(companyUserDTO.taxCityName)"
              list="taxCityNameDataList"
            />
            <datalist id="taxCityNameDataList">
              <option
                *ngFor="let city of cities"
                value="{{ city.cityName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="taxCityNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!taxCityName.valid && taxCityName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(taxCityName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Tax Office Name</span>
            <input
              required
              minlength="3"
              maxlength="20"
              pattern=""
              [(ngModel)]="companyUserDTO.taxOfficeName"
              type="text"
              class="form-control"
              name="taxOfficeName"
              #taxOfficeName="ngModel"
              placeholder="Tax Office Name"
              list="taxOfficeNameDataList"
            />
            <datalist id="taxOfficeNameDataList">
              <option
                *ngFor="let taxOffice of taxOffices"
                value="{{ taxOffice.taxOfficeName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="taxOfficeNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!taxOfficeName.valid && taxOfficeName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(taxOfficeName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Tax Number</span>
            <input
              required
              minlength="10"
              maxlength="10"
              pattern="[0-9\/]*"
              inputmode="numeric"
              [(ngModel)]="companyUserDTO.taxNumber"
              type="text"
              class="form-control"
              name="taxNumber"
              #taxNumber="ngModel"
              placeholder="Tax Number"
            />
            <span class="input-group-text">
              <i
                (click)="taxNumberClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!taxNumber.valid && taxNumber.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(taxNumber)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Worker Count</span>
            <input
              required
              minlength="3"
              maxlength="20"
              pattern=""
              [(ngModel)]="companyUserDTO.workerCount"
              type="text"
              class="form-control"
              name="workerCount"
              #workerCount="ngModel"
              placeholder="Worker Count"
            />
            <span class="input-group-text">
              <i
                (click)="workerCountClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!workerCount.valid && workerCount.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(workerCount)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Web Address</span>
            <input
              required
              minlength="3"
              maxlength="20"
              pattern=""
              [(ngModel)]="companyUserDTO.webAddress"
              type="text"
              class="form-control"
              name="webAddress"
              #webAddress="ngModel"
              placeholder="Web Address"
            />
            <span class="input-group-text">
              <i
                (click)="webAddressClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!webAddress.valid && webAddress.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(webAddress)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Year of Establishment</span>
            <input
              required
              minlength="3"
              maxlength="20"
              min="1950-01-01"
              max="{{ today | date : 'yyyy/MM/dd' }}"
              pattern=""
              [(ngModel)]="companyUserDTO.yearOfEstablishment"
              type="date"
              class="form-control"
              name="yearOfEstablishment"
              #yearOfEstablishment="ngModel"
            />

            <span class="input-group-text">
              <i
                (click)="yearOfEstablishmentClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div
            *ngIf="!yearOfEstablishment.valid && yearOfEstablishment.touched"
          >
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(yearOfEstablishment)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Clarification</span>
            <input
              required
              minlength="3"
              maxlength="20"
              pattern=""
              [(ngModel)]="companyUserDTO.clarification"
              type="text"
              class="form-control"
              name="clarification"
              #clarification="ngModel"
              placeholder="Clarification"
            />
            <span class="input-group-text">
              <i
                (click)="clarificationClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!clarification.valid && clarification.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(clarification)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text"
              >About <br />{{ aboutDetail }} \ 250</span
            >
            <textarea
              required
              minlength="50"
              maxlength="1000"
              pattern=""
              class="form-control"
              name="about"
              #about="ngModel"
              style="height: 100px"
              [(ngModel)]="companyUserDTO.about"
              (input)="count()"
            ></textarea>
            <span class="input-group-text">
              <i
                (click)="aboutClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!about.valid && about.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(about)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Update
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
