<div class="card tab-page" style="border: none">
  <div class="card-body">
    <div class="form-group">
      <div class="input-group mb-3" *ngIf="admin">
        <span class="input-group-text"><i class="bi bi-filter"></i></span>
        <input
          type="text"
          [(ngModel)]="filter1"
          class="form-control"
          list="usersDatalistOptions"
          id="usersData"
          placeholder="Filter Company User Images By User..."
        />
        <datalist id="usersDatalistOptions">
          <option
            *ngFor="let userDTO of userDTOs"
            value="{{ userDTO.email }}"
          ></option>
        </datalist>
        <span class="input-group-text">
          <i
            (click)="clearInput1()"
            class="bi bi-x-circle"
            style="cursor: pointer"
          ></i>
        </span>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body" style="background-color: whitesmoke">
            <carousel>
              <slide
                *ngFor="
                  let companyUserImageDTO of companyUserImageDTOs
                    | filterCompanyUserImageByUser : filter1
                "
              >
                <img
                  src="{{
                    companyUserImageDTO.imagePath +
                      companyUserImageDTO.imageName
                  }}"
                  alt="first slide"
                />
                <div
                  style="font-size: 16px; margin-top: 10px; font-weight: 600"
                >
                  {{ companyUserImageDTO.imageOwnName }}
                </div>
                <div style="font-size: 14px; margin-top: 10px">
                  {{ companyUserImageDTO.companyUserName }}
                </div>
              </slide>
            </carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
