<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              required
              minlength="3"
              maxlength="30"
              pattern=""
              email="true"
              [(ngModel)]="personelUserCoverLetterMOdel.email"
              type="email"
              class="form-control"
              name="email"
              #email="ngModel"
              placeholder="email"
              list="emailDataList"
            />
            <datalist id="emailDataList">
              <option
                *ngFor="let userDTO of userDTOs"
                value="{{ userDTO.email }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="emailClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!email.valid && email.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(email)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Title</span>
            <input
              required
              minlength="3"
              maxlength="30"
              pattern=""
              [(ngModel)]="personelUserCoverLetterMOdel.title"
              type="text"
              class="form-control"
              name="title"
              #title="ngModel"
              placeholder="Title"
            />
            <span class="input-group-text">
              <i
                (click)="titleClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!title.valid && title.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(title)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text"
          >Description <br />{{ descriptionCount }} \ 250</span
        >

        <textarea
          required
          minlength="50"
          maxlength="250"
          pattern=""
          class="form-control"
          [(ngModel)]="personelUserCoverLetterMOdel.description"
          name="description"
          #description="ngModel"
          style="height: 100px"
          (input)="count()"
        ></textarea>
        <span class="input-group-text">
          <i
            (click)="descriptionClear()"
            class="bi bi-x-circle"
            style="cursor: pointer"
          ></i>
        </span>
      </div>
      <div *ngIf="!description.valid && description.touched">
        <div
          class="error-message"
          *ngFor="let error of getValidationErrors(description)"
        >
          {{ error }}
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
