<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <p class="card-text"><b>Id: </b>{{ cityDTO.id }}</p>
    <p class="card-text"><b>countryId: </b>{{ cityDTO.countryId }}</p>
    <p class="card-text"><b>countryName: </b>{{ cityDTO.countryName }}</p>
    <p class="card-text"><b>countryIso: </b>{{ cityDTO.countryIso }}</p>
    <p class="card-text"><b>cityCode: </b>{{ cityDTO.cityCode }}</p>
    <p class="card-text"><b>cityName: </b>{{ cityDTO.cityName }}</p>
    <p class="card-text">
      <b>createdDate: </b
      >{{ cityDTO.createdDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>updatedDate: </b
      >{{ cityDTO.updatedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>deletedDate: </b
      >{{ cityDTO.deletedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
  </div>
</div>
<div class="d-grid gap-2">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
