<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>
      <div class="mb-3" *ngIf="admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              class="form-control"
              placeholder="email"
              [(ngModel)]="personelUserCvSummaryDTO.email"
              name="email"
              #email="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">cvName</span>
            <input
              class="form-control"
              placeholder="email"
              [(ngModel)]="personelUserCvSummaryDTO.cvName"
              name="cvName"
              #cvName="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Cv Summary Title</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvSummaryDTO.cvSummaryTitle"
              type="text"
              class="form-control"
              name="cvSummaryTitle"
              #cvSummaryTitle="ngModel"
              placeholder="Cv Summary Title"
            />
            <span class="input-group-text">
              <i
                (click)="cvSummaryTitleClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!cvSummaryTitle.valid && cvSummaryTitle.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(cvSummaryTitle)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="personelUserCvSummaryDTO.cvSummaryTitle">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text"
              >Address <br />{{ editorCount }} \ 200-5000</span
            >
            <angular-editor
              minlength="200"
              maxlength="5000"
              [(ngModel)]="htmlContent"
              [config]="config"
              [ngModelOptions]="{ standalone: true }"
              pattern=""
              class="form-control"
              name="detail"
              #detail="ngModel"
              (input)="count()"
            ></angular-editor>
            <span class="input-group-text">
              <i
                (click)="cvSummaryDescriptionClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!detail.valid && detail.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(detail)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Update
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
