<div class="card tab-page" style="border: none">
  <div class="card-body">
    <div class="form-group">
      <div class="input-group mb-3" *ngIf="admin">
        <span class="input-group-text"><i class="bi bi-filter"></i></span>
        <input
          type="text"
          [(ngModel)]="filter1"
          class="form-control"
          list="usersDatalistOptions"
          id="usersData"
          placeholder="Filter Company User Images By User..."
        />
        <datalist id="usersDatalistOptions">
          <option
            *ngFor="let userDTO of userDTOs"
            value="{{ userDTO.email }}"
          ></option>
        </datalist>
        <span class="input-group-text">
          <i
            (click)="clearInput1()"
            class="bi bi-x-circle"
            style="cursor: pointer"
          ></i>
        </span>
      </div>
    </div>
    <div class="d-grid gap-2 mt-1" *ngIf="companyUserImageDTOs.length > 0">
      <button
        type="button"
        class="btn btn-outline-danger"
        (click)="deleteAll()"
        routerLinkActive="router-link-active"
      >
        Delete All
        <i class="bi bi-trash" style="color: white"></i>
      </button>
    </div>

    <div class="row mt-3">
      <div
        class="col-md-auto"
        *ngFor="
          let companyUserImageDTO of companyUserImageDTOs
            | filterCompanyUserImageByUser : filter1
        "
      >
        <div class="card mt-3" style="width: 10rem; min-height: 16rem">
          <img
            src="{{
              companyUserImageDTO.imagePath +
                'thumbs/' +
                companyUserImageDTO.imageName
            }}"
            class="img-fluid img-thumbnail"
            style="height: 100px; width: 100%; text-align: center; border: none"
            alt="{{ companyUserImageDTO.imageOwnName }}"
          />
          <div class="card-body">
            <h5 class="card-title" style="font-size: small">
              {{ companyUserImageDTO.companyUserName }}
            </h5>
            <h6 class="card-title" style="font-size: small">
              {{ companyUserImageDTO.imageOwnName }}
            </h6>
            <div class="mt-3">
              <i
                *ngIf="!companyUserImageDTO.isMainImage"
                (click)="updateMainImage(companyUserImageDTO)"
                class="bi bi-house-add"
                style="
                  color: rgb(25, 112, 58);
                  cursor: pointer;
                  font-size: large;
                "
              ></i>
              <i
                *ngIf="!companyUserImageDTO.isLogo"
                (click)="updateLogoImage(companyUserImageDTO)"
                class="bi bi-aspect-ratio"
                style="
                  color: rgb(25, 112, 58);
                  cursor: pointer;
                  font-size: large;
                  margin-left: 4px;
                "
              ></i>
              <i
                (click)="openDetail(companyUserImageDTO)"
                class="bi bi-journal-text"
                style="
                  color: midnightblue;
                  cursor: pointer;
                  font-size: large;
                  margin-left: 4px;
                "
              ></i>
              <i
                (click)="open(companyUserImageDTO)"
                class="bi bi-pencil-square"
                style="
                  color: midnightblue;
                  cursor: pointer;
                  margin-left: 4px;
                  font-size: large;
                "
              ></i>
              <i
                style="
                  color: red;
                  cursor: pointer;
                  margin-left: 4px;
                  font-size: large;
                "
                (click)="delete(companyUserImageDTO)"
                class="bi bi-trash"
              >
              </i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
