<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>
      <div class="mb-3" *ngIf="admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              email="true"
              [(ngModel)]="personelUserCvWorkExperienceModel.email"
              type="email"
              class="form-control"
              name="email"
              #email="ngModel"
              placeholder="email"
              list="emailDataList"
              (change)="
                setPersonelUserCv(personelUserCvWorkExperienceModel.email)
              "
            />
            <datalist id="emailDataList">
              <option
                *ngFor="let userDTO of userDTOs"
                value="{{ userDTO.email }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="emailClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!email.valid && email.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(email)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="!admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              class="form-control"
              placeholder="email"
              [(ngModel)]="personelUserCvWorkExperienceModel.email"
              name="email"
              #email="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Cv Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceModel.cvName"
              type="text"
              class="form-control"
              name="cvName"
              #cvName="ngModel"
              placeholder="Cv Name"
              list="cvNameDataList"
              [disabled]="!personelUserCvWorkExperienceModel.email"
            />
            <datalist id="cvNameDataList">
              <option
                *ngFor="let personelUserCv of personelUserCvs"
                value="{{ personelUserCv.cvName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="cvNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!cvName.valid && cvName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(cvName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Company Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceModel.companyName"
              type="text"
              class="form-control"
              name="companyName"
              #companyName="ngModel"
              placeholder="Company Name"
              [disabled]="!personelUserCvWorkExperienceModel.cvName"
            />
            <span class="input-group-text">
              <i
                (click)="companyNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!companyName.valid && companyName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(companyName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Position</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceModel.positionName"
              type="text"
              class="form-control"
              name="positionName"
              #positionName="ngModel"
              placeholder="Position"
              list="positionNameDataList"
              [disabled]="!personelUserCvWorkExperienceModel.companyName"
            />
            <datalist id="positionNameDataList">
              <option
                *ngFor="let position of positions"
                value="{{ position.positionName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="positionClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!positionName.valid && positionName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(positionName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Position Level</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceModel.positionLevelName"
              type="text"
              class="form-control"
              name="positionLevelName"
              #positionLevelName="ngModel"
              placeholder="Position Level"
              list="positionLevelNameDataList"
              [disabled]="!personelUserCvWorkExperienceModel.positionName"
            />
            <datalist id="positionLevelNameDataList">
              <option
                *ngFor="let positionLevel of positionLevels"
                value="{{ positionLevel.positionLevelName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="positionLevelNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!positionLevelName.valid && positionLevelName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(positionLevelName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Start Date</span>
            <input
              required
              minlength="3"
              maxlength="50"
              min="1950-01-01"
              max="{{ today | date : 'yyyy/MM/dd' }}"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceModel.startDate"
              type="date"
              class="form-control"
              name="startDate"
              #startDate="ngModel"
              [disabled]="!personelUserCvWorkExperienceModel.positionLevelName"
            />

            <span class="input-group-text">
              <i
                (click)="startDateClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!startDate.valid && startDate.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(startDate)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">End Date</span>
            <input
              [required]="personelUserCvWorkExperienceModel.working == false"
              minlength="3"
              maxlength="50"
              min="1950-01-01"
              max="{{ today | date : 'yyyy/MM/dd' }}"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceModel.endDate"
              type="date"
              class="form-control"
              name="endDate"
              #endDate="ngModel"
              [disabled]="
                this.personelUserCvWorkExperienceModel.working == true ||
                !personelUserCvWorkExperienceModel.startDate
              "
            />

            <span class="input-group-text">
              <i
                (click)="endDateClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!endDate.valid && endDate.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(endDate)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div
            class="input-group"
            style="
              border: 1px solid lightgrey;
              width: 100%;
              justify-content: space-between;
              border-radius: 5px;
            "
          >
            <span class="input-group-text"
              ><label class="form-check-label" for="switchCheckDefault"
                >Still Working?</label
              ></span
            >
            <div class="form-check form-switch">
              <input
                class="form-check-input position-absolute top-50 start-100 translate-middle"
                type="checkbox"
                role="switch"
                id="switchCheckDefault"
                [(ngModel)]="personelUserCvWorkExperienceModel.working"
                name="working"
                (change)="endDateClear()"
                style="width: 40px; height: 20px; top: 45% !important"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="optionalInformation">İsteğe Bağlı Bilgiler</div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Sector Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceModel.companySectorName"
              type="text"
              class="form-control"
              name="companySectorName"
              #companySectorName="ngModel"
              placeholder="Sector Name"
              list="companySectorNameDataList"
            />
            <datalist id="companySectorNameDataList">
              <option
                *ngFor="let companySector of companySectors"
                value="{{ companySector.sectorName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="companySectorNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!companySectorName.valid && companySectorName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(companySectorName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Department Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceModel.departmentName"
              type="text"
              class="form-control"
              name="departmentName"
              #departmentName="ngModel"
              placeholder="Department Name"
              list="departmentNameDataList"
            />
            <datalist id="departmentNameDataList">
              <option
                *ngFor="let companyUserDepartment of companyUserDepartments"
                value="{{ companyUserDepartment.departmentName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="departmentNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!departmentName.valid && departmentName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(departmentName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Working Method Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceModel.workingMethodName"
              type="text"
              class="form-control"
              name="workingMethodName"
              #workingMethodName="ngModel"
              placeholder="Working Method Name"
              list="workingMethodNameDataList"
            />
            <datalist id="workingMethodNameDataList">
              <option
                *ngFor="let workingMethod of workingMethods"
                value="{{ workingMethod.methodName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="workingMethodNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!workingMethodName.valid && workingMethodName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(workingMethodName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Country Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceModel.countryName"
              type="text"
              class="form-control"
              name="countryName"
              #countryName="ngModel"
              placeholder="Country Name"
              list="countryNameDataList"
              (change)="
                setCountryName(personelUserCvWorkExperienceModel.countryName)
              "
            />
            <datalist id="countryNameDataList">
              <option
                *ngFor="let country of countries"
                value="{{ country.countryName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="countryNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!countryName.valid && countryName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(countryName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">City Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceModel.cityName"
              type="text"
              class="form-control"
              name="cityName"
              #cityName="ngModel"
              placeholder="City Name"
              list="cityNameDataList"
              (change)="setCityName(personelUserCvWorkExperienceModel.cityName)"
            />
            <datalist id="cityNameDataList">
              <option
                *ngFor="let city of cities"
                value="{{ city.cityName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="cityNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!cityName.valid && cityName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(cityName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Region Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvWorkExperienceModel.regionName"
              type="text"
              class="form-control"
              name="regionName"
              #regionName="ngModel"
              placeholder="Region Name"
              list="regionNameDataList"
            />
            <datalist id="regionNameDataList">
              <option
                *ngFor="let region of regions"
                value="{{ region.regionName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="regionNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!regionName.valid && regionName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(regionName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="personelUserCvWorkExperienceModel.regionName">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text"
              >Detail <br />{{ editorCount }} \ 50-5000</span
            >
            <angular-editor
              minlength="50"
              maxlength="5000"
              [(ngModel)]="htmlContent"
              [config]="config"
              [ngModelOptions]="{ standalone: true }"
              pattern=""
              class="form-control"
              name="detail"
              #detail="ngModel"
              (input)="count()"
            ></angular-editor>
            <span class="input-group-text">
              <i
                (click)="detailClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!detail.valid && detail.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(detail)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="form-group">
          <div
            class="input-group"
            style="
              border: 1px solid lightgrey;
              width: 100%;
              justify-content: space-between;
              border-radius: 5px;
            "
          >
            <span class="input-group-text"
              ><label class="form-check-label" for="switchCheckDefault"
                >Found Job In Here?</label
              ></span
            >
            <div class="form-check form-switch">
              <input
                class="form-check-input position-absolute top-50 start-100 translate-middle"
                type="checkbox"
                role="switch"
                id="switchCheckDefault"
                [(ngModel)]="personelUserCvWorkExperienceModel.foundJobInHere"
                name="foundJobInHere"
                style="width: 40px; height: 20px; top: 45% !important"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
