<div class="card tab-page" style="border: none">
  <div class="card-body">
    <form [formGroup]="addForm1">
      <div class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text">Country Name</span>
          <input
            formControlName="countryName"
            type="text"
            class="form-control"
            list="CountryData"
            id="Country"
            placeholder="Select Country..."
          />
          <datalist id="CountryData">
            <option
              *ngFor="let country of countries"
              value="{{ country.countryName }}"
            ></option>
          </datalist>
          <span class="input-group-text">
            <i
              (click)="clearInput1()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">City Name</span>
          <input
            formControlName="cityName"
            type="text"
            class="form-control"
            id="City"
            placeholder="City Name"
          />
          <span class="input-group-text">
            <i
              (click)="clearInput2()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="d-grid gap-2">
          <button (click)="add()" type="button" class="btn btn-outline-primary">
            Update
          </button>
          <button
            type="button"
            class="btn btn-outline-dark"
            (click)="activeModal.close('Close click')"
          >
            Close
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
