<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>
      <div class="mb-3" *ngIf="admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              email="true"
              [(ngModel)]="personelUserCvSummaryModel.email"
              type="email"
              class="form-control"
              name="email"
              #email="ngModel"
              placeholder="email"
              list="emailDataList"
              (change)="setPersonelUserCv(personelUserCvSummaryModel.email)"
            />
            <datalist id="emailDataList">
              <option
                *ngFor="let userDTO of userDTOs"
                value="{{ userDTO.email }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="emailClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!email.valid && email.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(email)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="!admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              class="form-control"
              placeholder="email"
              [(ngModel)]="personelUserCvSummaryModel.email"
              name="email"
              #email="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Cv Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvSummaryModel.cvName"
              type="text"
              class="form-control"
              name="cvName"
              #cvName="ngModel"
              placeholder="Cv Name"
              list="cvNameDataList"
              [disabled]="!personelUserCvSummaryModel.email"
            />
            <datalist id="cvNameDataList">
              <option
                *ngFor="let personelUserCv of personelUserCvs"
                value="{{ personelUserCv.cvName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="cvNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!cvName.valid && cvName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(cvName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Cv Summary Title</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvSummaryModel.cvSummaryTitle"
              type="text"
              class="form-control"
              name="cvSummaryTitle"
              #cvSummaryTitle="ngModel"
              placeholder="Cv Summary Title"
              [disabled]="!personelUserCvSummaryModel.cvName"
            />
            <span class="input-group-text">
              <i
                (click)="cvSummaryTitleClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!cvSummaryTitle.valid && cvSummaryTitle.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(cvSummaryTitle)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text"
              >Detail <br />{{ detailCount }} \ 100-2000</span
            >
            <textarea
              required
              minlength="100"
              maxlength="2000"
              pattern=""
              class="form-control"
              [(ngModel)]="personelUserCvSummaryModel.cvSummaryDescription"
              name="detail"
              #detail="ngModel"
              style="height: 100px"
              (input)="count()"
              [disabled]="!personelUserCvSummaryModel.cvSummaryTitle"
            ></textarea>
            <span class="input-group-text">
              <i
                (click)="cvSummaryDescriptionClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!detail.valid && detail.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(detail)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
