<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form [formGroup]="addForm">
      <div class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text">User Email</span>
          <input
            formControlName="userEmail"
            type="email"
            class="form-control"
            list="datalist1"
            id="input1"
            placeholder="Select User..."
            minlength="3"
            (change)="getAdminValues()"
          />
          <datalist id="datalist1">
            <option
              *ngFor="let userDTO of userDTOs"
              value="{{ userDTO.email }}"
            ></option>
          </datalist>
          <span class="input-group-text">
            <i
              (click)="clearInput1()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">Personel Name</span>
          <input
            formControlName="personelUserName"
            type="text"
            class="form-control"
            list="datalist2"
            id="input2"
            placeholder="Select Personel..."
          />
          <datalist id="datalist2">
            <option
              *ngFor="let personelUserDTO of personelUserDTOs"
              value="{{ personelUserDTO.email }}"
            ></option>
          </datalist>
          <span class="input-group-text">
            <i
              (click)="clearInput2()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="input-group mb-3">
          <input
            formControlName="image"
            type="file"
            class="form-control"
            id="input3"
            placeholder="Upload Image"
            (change)="onImageSelected($event)"
            aria-label="Upload Image"
          />
          <span class="input-group-text">
            <i
              (click)="clearInput3()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="onUpload()"
      >
        Upload
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary"
        routerLink="/dashboard/personeluserimages"
        routerLinkActive="router-link-active"
      >
        Back
      </button>
    </div>
  </div>
</div>
