<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>
      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">University Name</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              [(ngModel)]="universityModel.universityName"
              type="text"
              class="form-control"
              name="universityName"
              #universityName="ngModel"
              placeholder="University Name"
            />
            <span class="input-group-text">
              <i
                (click)="universityNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!universityName.valid && universityName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(universityName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text"
              >Address <br />{{ addressDetail }} \ 20-100</span
            >
            <textarea
              required
              minlength="20"
              maxlength="100"
              pattern=""
              class="form-control"
              [(ngModel)]="universityModel.address"
              name="address"
              #address="ngModel"
              style="height: 80px"
              (input)="countAddress()"
              [disabled]="!universityModel.universityName"
            ></textarea>
            <span class="input-group-text">
              <i
                (click)="addressClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!address.valid && address.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(address)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text"
              >Description <br />{{ descriptionDetail }} \ 100-3000</span
            >
            <textarea
              required
              minlength="100"
              maxlength="3000"
              pattern=""
              class="form-control"
              [(ngModel)]="universityModel.description"
              name="description"
              #description="ngModel"
              style="height: 100px"
              (input)="countDescription()"
              [disabled]="!universityModel.address"
            ></textarea>
            <span class="input-group-text">
              <i
                (click)="descriptionClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!description.valid && description.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(description)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text"
              >Sub Description <br />{{ subDescriptionDetail }} \ 100-3000</span
            >
            <textarea
              required
              minlength="100"
              maxlength="3000"
              pattern=""
              class="form-control"
              [(ngModel)]="universityModel.subDescription"
              name="subDescription"
              #subDescription="ngModel"
              style="height: 100px"
              (input)="countSubDescription()"
              [disabled]="!universityModel.description"
            ></textarea>
            <span class="input-group-text">
              <i
                (click)="subDescriptionClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!subDescription.valid && subDescription.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(subDescription)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="optionalInformation">İsteğe Bağlı Bilgiler</div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Year Of Establishment</span>
            <input
              maxlength="10"
              pattern=""
              [(ngModel)]="universityModel.yearOfEstablishment"
              type="date"
              class="form-control"
              name="yearOfEstablishment"
              #yearOfEstablishment="ngModel"
              placeholder="Year Of Establishment"
              [disabled]="!universityModel.subDescription"
            />
            <span class="input-group-text">
              <i
                (click)="yearOfEstablishmentClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div
            *ngIf="!yearOfEstablishment.valid && yearOfEstablishment.touched"
          >
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(yearOfEstablishment)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Worker Count</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="universityModel.workerCountValue"
              type="text"
              class="form-control"
              name="workerCountValue"
              #workerCountValue="ngModel"
              placeholder="Worker Count"
              list="workerCountValueDataList"
              [disabled]="!universityModel.yearOfEstablishment"
            />
            <datalist id="workerCountValueDataList">
              <option
                *ngFor="let count of counts"
                value="{{ count.countValue }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="workerCountValueClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!workerCountValue.valid && workerCountValue.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(workerCountValue)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Sector Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="universityModel.sectorName"
              type="text"
              class="form-control"
              name="sectorName"
              #sectorName="ngModel"
              placeholder="Sector Name"
              list="sectorNameDataList"
              [disabled]="!universityModel.workerCountValue"
            />
            <datalist id="sectorNameDataList">
              <option
                *ngFor="let sector of sectors"
                value="{{ sector.sectorName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="sectorNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!sectorName.valid && sectorName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(sectorName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Web Address</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="universityModel.webAddress"
              type="text"
              class="form-control"
              name="webAddress"
              #webAddress="ngModel"
              placeholder="Web Address"
              [disabled]="!universityModel.sectorName"
            />
            <span class="input-group-text">
              <i
                (click)="webAddressClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!webAddress.valid && webAddress.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(webAddress)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Web News Address</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="universityModel.webNewsAddress"
              type="text"
              class="form-control"
              name="webNewsAddress"
              #webNewsAddress="ngModel"
              placeholder="Web News Address"
              [disabled]="!universityModel.webAddress"
            />
            <span class="input-group-text">
              <i
                (click)="webNewsAddressClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!webNewsAddress.valid && webNewsAddress.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(webNewsAddress)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">YouTube Embed Address</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="universityModel.youTubeEmbedAddress"
              type="text"
              class="form-control"
              name="youTubeEmbedAddress"
              #youTubeEmbedAddress="ngModel"
              placeholder="YouTube Embed Address"
              [disabled]="!universityModel.webNewsAddress"
            />
            <span class="input-group-text">
              <i
                (click)="youTubeEmbedAddressClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div
            *ngIf="!youTubeEmbedAddress.valid && youTubeEmbedAddress.touched"
          >
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(youTubeEmbedAddress)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Facebook Address</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="universityModel.facebookAddress"
              type="text"
              class="form-control"
              name="facebookAddress"
              #facebookAddress="ngModel"
              placeholder="Facebook Address"
              [disabled]="!universityModel.youTubeEmbedAddress"
            />
            <span class="input-group-text">
              <i
                (click)="facebookAddressClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!facebookAddress.valid && facebookAddress.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(facebookAddress)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Instagram Address</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="universityModel.instagramAddress"
              type="text"
              class="form-control"
              name="instagramAddress"
              #instagramAddress="ngModel"
              placeholder="Instagram Address"
              [disabled]="!universityModel.facebookAddress"
            />
            <span class="input-group-text">
              <i
                (click)="instagramAddressClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!instagramAddress.valid && instagramAddress.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(instagramAddress)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">X Address</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="universityModel.xAddress"
              type="text"
              class="form-control"
              name="xAddress"
              #xAddress="ngModel"
              placeholder="X Address"
              [disabled]="!universityModel.instagramAddress"
            />
            <span class="input-group-text">
              <i
                (click)="xAddressClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!xAddress.valid && xAddress.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(xAddress)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">YouTube Address</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="universityModel.youTubeAddress"
              type="text"
              class="form-control"
              name="youTubeAddress"
              #youTubeAddress="ngModel"
              placeholder="YouTube Address"
              [disabled]="!universityModel.xAddress"
            />
            <span class="input-group-text">
              <i
                (click)="youTubeAddressClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!youTubeAddress.valid && youTubeAddress.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(youTubeAddress)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
