<div class="card tab-page" style="border: none">
  <div class="card-body">
    <p class="card-text"><b>Id: </b>{{ universityDepartmentDTO.id }}</p>
    <p class="card-text">
      <b>universityId: </b>{{ universityDepartmentDTO.universityId }}
    </p>
    <p class="card-text">
      <b>universityName: </b>{{ universityDepartmentDTO.universityName }}
    </p>
    <p class="card-text">
      <b>facultyName: </b>{{ universityDepartmentDTO.facultyName }}
    </p>
    <p class="card-text">
      <b>departmentName: </b>{{ universityDepartmentDTO.departmentName }}
    </p>
    <p class="card-text">
      <b>createdDate: </b
      >{{ universityDepartmentDTO.createdDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>updatedDate: </b
      >{{ universityDepartmentDTO.updatedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>deletedDate: </b
      >{{ universityDepartmentDTO.deletedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
  </div>
</div>
<div class="d-grid gap-2">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
