<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <p class="card-text"><b>Id: </b>{{ universityImage.id }}</p>
    <p class="card-text">
      <b>universityName: </b>{{ universityImage.universityName }}
    </p>
    <p class="card-text">
      <b>imageOwnName: </b>{{ universityImage.imageOwnName }}
    </p>
    <p class="card-text"><b>imagePath: </b>{{ universityImage.imagePath }}</p>
    <p class="card-text"><b>imageName: </b>{{ universityImage.imageName }}</p>
    <p class="card-text">
      <b>createdDate: </b
      >{{ universityImage.createdDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>updatedDate: </b
      >{{ universityImage.updatedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>deletedDate: </b
      >{{ universityImage.deletedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
  </div>
</div>
<div class="d-grid gap-2">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
