<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <p class="card-text"><b>Id: </b>{{ companyUserDTO.id }}</p>
    <p class="card-text"><b>userId: </b>{{ companyUserDTO.userId }}</p>
    <p class="card-text">
      <b>companyUserName: </b>{{ companyUserDTO.companyUserName }}
    </p>
    <p class="card-text"><b>email: </b>{{ companyUserDTO.email }}</p>
    <p class="card-text"><b>firstName: </b>{{ companyUserDTO.firstName }}</p>
    <p class="card-text"><b>lastName: </b>{{ companyUserDTO.lastName }}</p>
    <p class="card-text">
      <b>phoneNumber: </b>{{ companyUserDTO.phoneNumber }}
    </p>
    <p class="card-text"><b>sectorId: </b>{{ companyUserDTO.sectorId }}</p>
    <p class="card-text"><b>sectorName: </b>{{ companyUserDTO.sectorName }}</p>
    <p class="card-text"><b>taxCityId: </b>{{ companyUserDTO.taxCityId }}</p>
    <p class="card-text">
      <b>taxCityName: </b>{{ companyUserDTO.taxCityName }}
    </p>
    <p class="card-text">
      <b>taxOfficeId: </b>{{ companyUserDTO.taxOfficeId }}
    </p>
    <p class="card-text">
      <b>taxOfficeName: </b>{{ companyUserDTO.taxOfficeName }}
    </p>
    <p class="card-text">
      <b>yearOfEstablishment: </b
      >{{
        companyUserDTO.yearOfEstablishment
          | date : "dd/MM/yyyy"
          | nullDateFormat
      }}
    </p>
    <p class="card-text">
      <b>workerCountId: </b>{{ companyUserDTO.workerCountId }}
    </p>
    <p class="card-text">
      <b>workerCountValue: </b>{{ companyUserDTO.workerCountValue }}
    </p>
    <p class="card-text"><b>webAddress: </b>{{ companyUserDTO.webAddress }}</p>
    <p class="card-text">
      <b>clarification: </b>{{ companyUserDTO.clarification }}
    </p>
    <div class="card-text">
      <b>about: </b>
      <p [innerHTML]="companyUserDTO.about"></p>
    </div>

    <p class="card-text">
      <b>createdDate: </b
      >{{ companyUserDTO.createdDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>updatedDate: </b
      >{{ companyUserDTO.updatedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
    <p class="card-text">
      <b>deletedDate: </b
      >{{ companyUserDTO.deletedDate | date : "dd/MM/yyyy hh:mm:ss" }}
    </p>
  </div>
</div>
<div class="d-grid gap-2">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
