<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form [formGroup]="addForm">
      <div class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text">User Email</span>
          <input
            formControlName="userEmail"
            type="email"
            class="form-control"
            list="datalist1"
            id="input1"
            placeholder="Select User..."
            minlength="3"
          />
          <datalist id="datalist1">
            <option
              *ngFor="let userDTO of userDTOs"
              value="{{ userDTO.email }}"
            ></option>
          </datalist>
          <span class="input-group-text">
            <i
              (click)="clearInput1()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Cv Name</span>
          <input
            formControlName="cvName"
            type="text"
            class="form-control"
            id="input3"
            placeholder="Type Cv Name..."
            minlength="3"
          />
          <span class="input-group-text">
            <i
              (click)="clearInput3()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Language Name</span>
          <input
            formControlName="languageName"
            type="text"
            class="form-control"
            list="datalist3"
            id="input4"
            placeholder="Select Language..."
            minlength="3"
            (change)="getLanguages()"
          />
          <datalist id="datalist3">
            <option
              *ngFor="let language of languages"
              value="{{ language.languageName }}"
            ></option>
          </datalist>
          <span class="input-group-text">
            <i
              (click)="clearInput4()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">Language Level</span>
          <input
            formControlName="languageLevel"
            type="text"
            class="form-control"
            list="datalist4"
            id="input4"
            placeholder="Select Language Level..."
          />
          <datalist id="datalist4">
            <option
              *ngFor="let languageLevel of languageLevels"
              value="{{ languageLevel.levelTitle }}"
            ></option>
          </datalist>
          <span class="input-group-text">
            <i
              (click)="clearInput5()"
              class="bi bi-x-circle"
              style="cursor: pointer"
            ></i>
          </span>
        </div>
        <div class="input-group mb-3">
          <div class="form-check">
            <input
              formControlName="isPrivate"
              class="form-check-input"
              type="checkbox"
              value=""
              id="input5"
              checked
            />
            <label class="form-check-label" for="checkChecked">
              isPrivate
            </label>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button (click)="add()" type="button" class="btn btn-outline-primary">
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
