<div class="card" style="width: 50rem">
  <div class="alert alert-dark" role="alert">
    {{ componentTitle }}
  </div>
  <div class="card-body">
    <form #form="ngForm">
      <div class="mandatoryInformation">Zorunlu Bilgiler</div>
      <div class="mb-3" *ngIf="admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              required
              minlength="3"
              maxlength="50"
              pattern=""
              email="true"
              [(ngModel)]="personelUserCvModel.email"
              type="email"
              class="form-control"
              name="email"
              #email="ngModel"
              placeholder="email"
              list="emailDataList"
            />
            <datalist id="emailDataList">
              <option
                *ngFor="let userDTO of userDTOs"
                value="{{ userDTO.email }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="emailClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!email.valid && email.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(email)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="!admin">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Email</span>
            <input
              class="form-control"
              placeholder="email"
              [(ngModel)]="personelUserCvModel.email"
              name="email"
              #email="ngModel"
              disabled="true"
            />
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Cv Name</span>
            <input
              required="true"
              minlength="1"
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvModel.cvName"
              type="text"
              class="form-control"
              name="cvName"
              #cvName="ngModel"
              placeholder="Cv Name"
            />
            <span class="input-group-text">
              <i
                (click)="cvNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!cvName.valid && cvName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(cvName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="optionalInformation">İsteğe Bağlı Bilgiler</div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Language Name</span>
            <input
              maxlength="50"
              pattern=""
              [(ngModel)]="personelUserCvModel.languageName"
              type="text"
              class="form-control"
              name="languageName"
              #languageName="ngModel"
              placeholder="Language Name"
              list="languageNameDataList"
            />
            <datalist id="languageNameDataList">
              <option
                *ngFor="let language of languages"
                value="{{ language.languageName }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="languageNameClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!languageName.valid && languageName.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(languageName)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-text">Language Level</span>
            <input
              maxlength="20"
              pattern=""
              [(ngModel)]="personelUserCvModel.levelTitle"
              type="text"
              class="form-control"
              name="levelTitle"
              #levelTitle="ngModel"
              placeholder="Language Level"
              list="levelTitleDataList"
            />
            <datalist id="levelTitleDataList">
              <option
                *ngFor="let languageLevel of languageLevels"
                value="{{ languageLevel.levelTitle }}"
              ></option>
            </datalist>
            <span class="input-group-text">
              <i
                (click)="levelTitleClear()"
                class="bi bi-x-circle"
                style="cursor: pointer"
              ></i>
            </span>
          </div>
          <div *ngIf="!levelTitle.valid && levelTitle.touched">
            <div
              class="error-message"
              *ngFor="let error of getValidationErrors(levelTitle)"
            >
              {{ error }}
            </div>
          </div>
        </div>
      </div>

      <div class="mb-3">
        <div class="form-group">
          <div
            class="input-group"
            style="
              border: 1px solid lightgrey;
              width: 100%;
              justify-content: space-between;
              border-radius: 5px;
            "
          >
            <span class="input-group-text"
              ><label class="form-check-label" for="switchCheckDefault"
                >is Private?</label
              ></span
            >
            <div class="form-check form-switch">
              <input
                class="form-check-input position-absolute top-50 start-100 translate-middle"
                type="checkbox"
                role="switch"
                id="switchCheckDefault"
                [(ngModel)]="personelUserCvModel.isPrivate"
                name="isPrivate"
                style="width: 40px; height: 20px; top: 45% !important"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-grid gap-2">
      <button
        [disabled]="!form.valid"
        type="button"
        class="btn btn-outline-primary"
        (click)="onSubmit(form)"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')"
      >
        Close
      </button>
    </div>
  </div>
</div>
